<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link href='public/styles/muleStyle.css' rel='stylesheet'type='text/css'>

		<script src="../config.js"></script>
		<script>
		var data = [];
		var main;
		var baseID = [];
		var buildIds= [,,];
		var slaResults = [];
		
		var baseResults =[];
		var cache = {
			};

		var perfciInfo = {};

			function getItems(jobName){
				var url = config.getTestMetrics + jobName;
				var resp = getRequest(url);
				if(resp == '')
					resp = '{"sla":{},"prev":{},"base":{}}';
				var answer = JSON.parse(resp);
				baseID[baseID.length] = answer.baseline;
				return answer;
			}
			function clearCache(){
				cache = {
				};
			}
			function getAvg(data){
				var avg = 0;
				for(var i=0; i<data.length; i++){
					avg += parseFloat(data[i]);
				}
				avg = avg/data.length;
				return avg;

			}	
			function evaluateJob(jobName,buildID){
				if(jobName != 'PERF_CI'){
					var test = getItems(jobName);
					clearCache();
					fetchData(jobName, buildID);
					compareData(test.sla);
				}
				else{
					for(var job in perfciInfo){
						if(perfciInfo.hasOwnProperty(job)){
							var test = getItems(job);
							clearCache();
							cache = perfciInfo[job]['SingularData'];
							compareData(test.sla);
						}
					}
				}
					
			}

			function getResultPreviews(){
				for(var i=0; i<buildIds.length; i++){
					evaluateJob(buildIds[i][0],buildIds[i][1]);
				}
			}
			function isEmpty(obj) {
			    for(var prop in obj) {
			        if(obj.hasOwnProperty(prop))
			            return false;
			    }

			    return true;
			}

			function compareData(jsonObj){

				var passed = 'Passed';
				if(isEmpty(jsonObj)){
					passed = 'Not Configured';
				}
				else{
					for(var key in jsonObj){
						if(jsonObj.hasOwnProperty(key)){
							var type = key.substring(key.indexOf('(')+1, key.indexOf(')')).replace(/\s/g, '_');
							var dataID = key.substring(key.indexOf(')')+2).replace(/\s/g,'_');
							var min = parseFloat(jsonObj[key][0]);
							var max = parseFloat(jsonObj[key][1]);

							var data = null;
							if(type == 'System_Resources'){
								var serverResults = [];
								for(var metric in cache['System_Resources']){
									if(cache['System_Resources'].hasOwnProperty(metric)){
										var metricID = metric.substring(metric.indexOf(':')+1);
										if(metricID == dataID)
											serverResults.push(cache['System_Resources'][metric][0]);
									}
								}
								if(serverResults.length == 2){
									data = Math.max(parseFloat(serverResults[0]),parseFloat(serverResults[1]));
								}
								else
									data = serverResults[0];
							}
							else{
								data = cache[type][dataID][0];
							}

							if(data != null){	
								var result = parseFloat(data);
								if(min >= result || max <= result){
									passed='Failed';
								}
							}
							else{
								passed='Failed';
							}
						}
					}
				}
				
					slaResults[slaResults.length] = passed;
				
				

			}
			function fetchData(jobName, buildID){
				cache = getData(jobName, buildID);
				
			}

			function getData(jobName, idNum){
				var go = true;
				for(var i=0; i < 3; i++){
					if(i == 0 && main.result == null && main.name == jobName){						
						go =false;						
					}
					else if(i > 0 && buildIds[i].result == null  && buildIds.name == jobName){
						go = false;
					}
				}			

				if(go == true){				
					var url = config.getParsedData + jobName + '&id=' + idNum;
						
					var str = getRequest(url);
					
					var data = JSON.parse(str);
					return data['SingularData'];
				}
				else{
					var emptyData = 
									{
										Summary: {},
										Test_Results: {},
										System_Resources: {},										
										JVM: {}
									};
					return	emptyData;
				}
			}

			function getRequest(url){
				var request = new XMLHttpRequest();
				request.open("GET", url, false);
				request.send(null);
				return request.responseText;
			}

			function getJobs(){
				var get = getRequest(config.retrieveRecentJobs);
				var info = JSON.parse(get);

				for(var i = 0; i <  info.jobs.length; i++){

					if(info.jobs[i].lastBuild != null ){
						if( info.jobs[i].name != 'PERF_CI')	{
							data[data.length] = {'name': info.jobs[i].name, 
												 'id': info.jobs[i].lastBuild.number,
												 'time': info.jobs[i].lastBuild.timestamp,
												 'result': info.jobs[i].lastBuild.result};
						}

						else{
							main = {'name': info.jobs[i].name, 
												 'id': info.jobs[i].lastBuild.number,
												 'time': info.jobs[i].lastBuild.timestamp,
												 'result': info.jobs[i].lastBuild.result};
							buildIds[buildIds.length] = [main.name, main.id];
						}
					}					 
				}				
			}

			function getMostRecentJobs(size){
				var times = [];
				for(var i=0; i<size; i++){
					times[i] = {'name': '', 
							 'id': 0,
							 'time': 0,
							 'result':'unknown'};
				}
				var seen = false
				for(var i=0; i<size; i++){
					for(var j =0; j<data.length; j++){
						for(var k=0; k<i; k++){
							if(data[j].time == times[k].time)
								seen = true
						}						
						if(data[j].time > times[i].time && !seen){
							times[i].time = data[j].time;
							times[i].name = data[j].name;
							times[i].id = data[j].id;
							times[i].result = data[j].result;
						}
						else if(seen){
							seen = false;
						}
					}
				}
				for(var i=0; i<times.length; i++){
					buildIds[i] = [times[i].name, times[i].id];
				}
				return times;	
			}
			
			function buildDropDown(){
				var dropDown = document.getElementById('jobDropDown');

				for(var i=0; i < data.length; i++){
					if(i == 0)
						dropDown.innerHTML += '<option value="'+data[i].name+'"selected="selected">'+data[i].name+'</option>';
					else
						dropDown.innerHTML += '<option value="'+data[i].name+'">'+data[i].name+'</option>';
				}
			}

			function fillMain(){
				
				
				var jobsList = document.getElementById('perfJobs');
				jobsList.innerHTML = '';
				var jobNum = 2;
				for(var job in perfciInfo){
					if(perfciInfo.hasOwnProperty(job)){
						//XXXX

						jobsList.innerHTML += "<li id='perf"+job+"'>"+job+": </li>";
						
						var jobElement = document.getElementById('perf'+job);
						var str = '<ul>';
						str += '<li>SLA Check: <span id="perfSLA'+job+'"></span> <a class="editSLA" href="'+config.update + job+'">Edit</a></li>';
						str += '<li>Current Baseline: <span id="perfBase'+job+'"></span> <a class="editSLA" id="baseSLAMain'+job+'" href="'+config.report + job+ '&id='+'">(Go to this run!)</a></li>';
						str += '</ul>';
						jobElement.innerHTML +=str;

						var slaElement = document.getElementById('perfSLA'+ job);
						slaElement.innerHTML = slaResults[jobNum];
						if(slaResults[jobNum] == 'Passed')
							slaElement.className = 'greenText';
						else if(slaResults[jobNum] == 'Failed')
							slaElement.className = 'redText';
						else
							slaElement.className = 'grayText';
						var baseElement = document.getElementById('perfBase'+job);
						var goToBase = document.getElementById('baseSLAMain'+job);
						if(baseID[jobNum] == '-1'){
							baseElement.innerHTML = 'Not Configured';
							baseElement.className = 'grayText';
							goToBase.href = '';
							goToBase.innerHTML = '';
						}
						else{
							baseElement.innerHTML = baseID[jobNum];
							baseElement.className = 'cyanText';
							goToBase.href += baseID[jobNum];
						}
							
						jobNum++;
					}
				}




			}

			function initialize(){
				getJobs();
				var get = getRequest(config.getParsedData + 'PERF_CI&id='+main.id);
				perfciInfo = JSON.parse(get);
				var recents = getMostRecentJobs(2);

				document.getElementById('mainName').innerHTML = main.name;
				document.getElementById('mainNum').innerHTML = '#'+main.id;
				var date = new Date(parseFloat(main.time)-28800000);
				
				document.getElementById('mainDate').innerHTML = (date.toUTCString()).substring(0,date.toUTCString().length-3);
				document.getElementById('mainLink' ).href = config.report + main.name;
				
				var editLinksMain = document.getElementsByName('editSLAMain');
				var baseLinksMain = document.getElementsByName('baseSLAMain');
				for(var j=0; j < editLinksMain.length; j++){
					editLinksMain[j].href = config.update + main.name ;
					editLinksMain[j].innerHTML = 'Edit';
					
				}

				

				document.getElementById('mainRes').innerHTML = main.result;
				if(main.result == 'SUCCESS')
					document.getElementById('mainRes' ).className = 'greenText';
				else if(main.result == null){
					document.getElementById('mainRes').className = 'yellowText';
					document.getElementById('mainRes').innerHTML = 'In progress...';
					var archive = JSON.parse(getRequest(config.getBuildsByDescription+ main.name));
					if(archive.builds.length > 1){
						var nextBestNumber = archive.builds[1].number;
						var nextBestTimestamp = archive.builds[1].timestamp;
						document.getElementById('mainNum').innerHTML = '#'+ nextBestNumber;
						document.getElementById('mainLink').href += '&id='+nextBestNumber;
						var newDate = new Date(parseFloat(nextBestTimestamp)-28800000);
						document.getElementById('mainDate').innerHTML = (newDate.toUTCString()).substring(0,newDate.toUTCString().length-3);
					}
				}
				else
					document.getElementById('mainRes').className = 'redText';

				getResultPreviews();


				//FILL MAIN PERF_CI 

				fillMain();

				//******************************************************************
				//RECENTS!!!!
				//******************************************************************
				for(var i=0; i<recents.length; i++){
					var editLinks = document.getElementsByName('editSLA' +(i+1));

					for(var j=0; j < editLinks.length; j++){
						editLinks[j].href = config.update + recents[i].name ;
						editLinks[j].innerHTML = 'Edit';
					}

					


					document.getElementById('jobName'+ (i+1)).innerHTML = recents[i].name;
					document.getElementById('jobNum'+ (i+1)).innerHTML = '#'+recents[i].id;
					var date = new Date(parseFloat(recents[i].time)-28800000);
					
					document.getElementById('jobDate' + (i+1)).innerHTML = (date.toUTCString()).substring(0,date.toUTCString().length-3);
					document.getElementById('jobLink' + (i+1)).href = config.report + recents[i].name;
					
					document.getElementById('jobRes'+ (i+1)).innerHTML = recents[i].result;
					if(recents[i].result == 'SUCCESS')
						document.getElementById('jobRes'+ (i+1)).className = 'greenText';
					else if(recents[i].result == null){
						document.getElementById('jobRes'+ (i+1)).className = 'yellowText';
						document.getElementById('jobRes'+ (i+1)).innerHTML = 'In progress...';
						var archive = JSON.parse(getRequest(config.getBuildsByDescription+ recents[i].name));
						if(archive.builds.length > 1){
							var nextBestNumber = archive.builds[1].number;
							var nextBestTimestamp = archive.builds[1].timestamp;
							document.getElementById('jobNum'+(i+1)).innerHTML = '#'+ nextBestNumber;
							document.getElementById('jobLink' + (i+1)).href += '&id='+nextBestNumber;
							var newDate = new Date(parseFloat(nextBestTimestamp)-28800000);
							document.getElementById('jobDate' + (i+1)).innerHTML = (newDate.toUTCString()).substring(0,newDate.toUTCString().length-3);
						}
					}
					else
						document.getElementById('jobRes'+ (i+1)).className = 'redText';


					var slaResult = document.getElementById('sla'+ (i+1));
				
					var baseResult = document.getElementById('base'+ (i+1));
					//SLA
					slaResult.innerHTML = slaResults[i];
					if(slaResults[i] == 'Failed')
						slaResult.className = 'redText';
					else if(slaResults[i] == 'Passed')
						slaResult.className = 'greenText';
					
					//BASE
					if(baseID[i] != '-1' && baseID[i] != null){
						baseResult.style.color = 'cyan';
						baseResult.innerHTML = baseID[i];

						var baseLinks = document.getElementsByName('seeBase' +(i+1));

						for(var j=0; j < baseLinks.length; j++){
							baseLinks[j].href = config.report + recents[i].name + '&id=' + baseID[i];
							baseLinks[j].innerHTML = '(Go to this run!)';
						}
					}					
				}
				document.getElementById('searchBar').action = config.report;
				buildDropDown();
				document.getElementById('droplist').action = config.report;

			}

		</script>
	</head>
	<body>
		<div id= "pagewrapper">
			<div id="heading" class="mule">
				<img src="views/sources/mulesoft-logo.png" id="ml"alt="MuleLogo" width = '340px' height='120px'>

				<p id="logo"> Performance Analyzer</p>
			</div>
			<div id="menu" class="mule">
				<p id='menuHeading'><u><b>Menu</b></u></p><br>
				<p class = 'menuItems'> <a href="/">Home</a></p>
				<p class = 'menuItems'> <a href="/logout">Logout</a></p>
			</div>
			<div id='content'>
				<div id='nightlyTest' class = 'homeMule'>
					<div class='homeBoxTitle'>
						Nightly Continuous Integration
						

					</div>
					<div class='mainPreview'>
						<span id='mainName' class='jobNameHome'>PerfCI</span>
						<div class='jobInfoPreview'>
							<ul>
								<li>Latest run <span id='mainNum' class='keyMetricResults'>#48</span> on <span id='mainDate' class='keyMetricResults'>6/29/2014 11:22:22</span></li>
								<li >Status Report - <span id='mainRes'></span> </li>
									<ul id='perfJobs'>
										
									</ul>
							</ul>
						</div>
						<a class='detailsLink' id='mainLink' href="">See details</a><br>
	
					</div>
				</div>	
				<div id='recentRuns' class='homeMule'>
					<div class='homeBoxTitle'>
						Recent Runs
					</div>
					<div class='mainPreview'>
						<span id='jobName1' class='jobNameHome'>Jetty</span> 
						<div class='jobInfoPreview'>
							<ul>
								<li>Latest run <span id='jobNum1' class='keyMetricResults'>#48</span> on <span id='jobDate1' class='keyMetricResults'>6/29/2014 11:22:22</span></li>
								<li>Status Report - <span id='jobRes1'></span></li>
									<ul>
										<li>SLA Check: <span id='sla1' class='grayText'>Not Configured</span><a name= 'editSLA1' class='editSLA' href=''></a></li>
										
										<li>Current Baseline: <span id='base1' class='grayText'>Not Configured</span><a name= 'seeBase1' class='editSLA' href=''></a></li>
									</ul>
							</ul>
						</div>
						<a class='detailsLink' id='jobLink1' href="">See details</a><br>
						<span  id= 'jobName2'class='jobNameHome'>CH_Production</span> 
						<div class='jobInfoPreview'>
							<ul>
								<li>Latest run is <span id='jobNum2' class='keyMetricResults'>#48</span> on <span id='jobDate2' class='keyMetricResults'>6/29/2014 11:22:22</span></li>
								<li>Status Report - <span id='jobRes2'></span></li>
									<ul>
										<li>SLA Check: <span id='sla2' class='grayText'>Not Configured</span><a name= 'editSLA2' class='editSLA' href=''></a></li>
										
										<li>Current Baseline: <span id='base2' class='grayText'>Not Configured</span><a name= 'seeBase2' class='editSLA' href=''></a></li>
									</ul>
							</ul>
						</div>
						<a id='jobLink2' class='detailsLink' href="">See details</a>	<br>
					</div>
				</div>
				<div id='otherBuilds' class='homeMule'>
					<div id='dropDownHome'>						
						<form id='droplist'action='' method='get'>
							Select a Build: 
							<select name='dropMenu' id='jobDropDown'></select>
							<input type="button" onClick="location= config.report + jobDropDown.options[jobDropDown.selectedIndex].value;" value="GO">
						</form>
					</div>
					<div id='searchForBuilds'>
						<form id='searchBar' action='' method='get'>
							Search for a Build: <input type="text" name="jobName">
							<input type='submit' value='Submit'>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			initialize();
		</script>
	</body>

</html>
