<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link href='public/styles/muleStyle.css' rel='stylesheet'type='text/css'>

		<script src="../config.js"></script>
		<script>
		var data = [];
		var main;
		var baseID = [];
		var buildIds= [,,];
		var slaResults = [];
		
		var baseResults =[];
		var cache = {
						'duration': '',

				        'cpu use': [],
				        'cpu iowait': [],
				        'cpu steal': [],

			 		    'mem use': [],
			 		    'mem kbcache': [],
			 		    'mem kbbuffers': [],
			         
			  			'disk util': [],
			  	        'disk await': [],
			  		    'disk tps': [],
			  			'disk rd_sec': [],
			  			'disk wr_sec': [],
			  		  
			  		  	'network used': [],
			  			'network txkB': [],
			  			'network rxkB': [],
			  		  
			            'paging pgpgin': [],
			            'paging pgpgout': [],
			            'paging fault': [],
			            'paging majflt': [],
			            'paging pgpgin': [],
			            'paging pgfree': [],
			            'paging pgscank': [],
			            'paging pgscand': [],
			            'paging pgsteal': [],
			            'paging vmef': [],
			  		  
			  			'swap in': [],
			  			'swap out': []
			};

			function getItems(jobName){
				var url = config.getTestMetrics + jobName;
				var resp = getRequest(url);
				if(resp == '')
					resp = '{"sla":{},"prev":{},"base":{}}';
				var answer = JSON.parse(resp);
				baseID[baseID.length] = answer.baseline;
				return answer;
			}
			function clearCache(){
				cache = {
				};
			}
			function getAvg(data){
				var avg = 0;
				for(var i=0; i<data.length; i++){
					avg += parseFloat(data[i]);
				}
				avg = avg/data.length;
				return avg;

			}	
			function evaluateJob(jobName,buildID){
				var test = getItems(jobName);
				clearCache();
				fetchData(jobName, buildID);
				compareData('sla', test.sla);
				
			}

			function getResultPreviews(){
				for(var i=0; i<buildIds.length; i++){
					evaluateJob(buildIds[i][0],buildIds[i][1]);
				}
			}
			function isEmpty(obj) {
			    for(var prop in obj) {
			        if(obj.hasOwnProperty(prop))
			            return false;
			    }

			    return true;
			}

			function compareData(type,jsonObj){

				var passed = 'Passed';
				if(isEmpty(jsonObj)){
					passed = 'Not Configured';
				}
				else{
					for(var key in jsonObj){
						if(jsonObj.hasOwnProperty(key)){
							var dataID = key;
							var min = parseFloat(jsonObj[key][0]);
							var max = parseFloat(jsonObj[key][1]);
							var data = cache[dataID];
							if(data != null){	
								var result = parseFloat(data);
								if(min > result || max < result){
									passed='Failed';
								}
							}
							else{
								passed='Failed';
							}
						}
					}
				}
				if(type == 'sla'){
					slaResults[slaResults.length] = passed;
				}
				

			}
			function fetchData(jobName, buildID){
				var requestedData = getData(jobName, buildID);
				for(var section in requestedData){
					if(requestedData.hasOwnProperty(section)){
						for(var metric in requestedData.section){
							if(requestedData.section.hasOwnProperty(metric)){
								cache[metric] = requestedData.section.metric;
							}
						}
					}
				}
			}

			function getData(jobName, idNum){
										
				var url = config.getParsedData + jobName + '&id=' + idNum;
					
				var str = getRequest(url);
				
				var data = JSON.parse(str);
				return data['SingularData'];
			}

			function getRequest(url){
				var request = new XMLHttpRequest();
				request.open("GET", url, false);
				request.send(null);
				return request.responseText;
			}

			function getJobs(){
				var get = getRequest(config.retrieveRecentJobs);
				var info = JSON.parse(get);

				for(var i = 0; i <  info.jobs.length; i++){

					if(info.jobs[i].lastBuild != null){

						data[data.length] = {'name': info.jobs[i].name, 
											 'id': info.jobs[i].lastBuild.number,
											 'time': info.jobs[i].lastBuild.timestamp,
											 'result': info.jobs[i].lastBuild.result};

						if(data[data.length-1].name == 'PERF_CI'){
							main = data[data.length-1];
							buildIds[buildIds.length] = [main.name, main.id];
						}
					}					 
				}				
			}

			function getMostRecentJobs(size){
				var times = [];
				for(var i=0; i<size; i++){
					times[i] = {'name': '', 
							 'id': 0,
							 'time': 0,
							 'result':'unknown'};
				}
				var seen = false
				for(var i=0; i<size; i++){
					for(var j =0; j<data.length; j++){
						for(var k=0; k<i; k++){
							if(data[j].time == times[k].time)
								seen = true
						}						
						if(data[j].time > times[i].time && !seen){
							times[i].time = data[j].time;
							times[i].name = data[j].name;
							times[i].id = data[j].id;
							times[i].result = data[j].result;
						}
						else if(seen){
							seen = false;
						}
					}
				}
				for(var i=0; i<times.length; i++){
					buildIds[i] = [times[i].name, times[i].id];
				}
				return times;	
			}
			
			function buildDropDown(){
				var dropDown = document.getElementById('jobDropDown');

				for(var i=0; i < data.length; i++){
					if(i == 0)
						dropDown.innerHTML += '<option value="'+data[i].name+'"selected="selected">'+data[i].name+'</option>';
					else
						dropDown.innerHTML += '<option value="'+data[i].name+'">'+data[i].name+'</option>';
				}
			}

			function initialize(){
				getJobs();
				var recents = getMostRecentJobs(2);

				document.getElementById('mainName').innerHTML = main.name;
				document.getElementById('mainNum').innerHTML = '#'+main.id;
				var date = new Date(parseFloat(main.time)-28800000);
				
				document.getElementById('mainDate').innerHTML = (date.toUTCString()).substring(0,date.toUTCString().length-3);
				document.getElementById('mainLink' ).href = config.report + main.name;
				
				var editLinksMain = document.getElementsByName('editSLAMain');

				for(var j=0; j < editLinksMain.length; j++){
					editLinksMain[j].href = config.update + main.name +'&id=' +main.id;
					editLinksMain[j].innerHTML = 'Edit';
				}

				

				document.getElementById('mainRes').innerHTML = main.result;
				if(main.result == 'SUCCESS')
					document.getElementById('mainRes' ).className = 'greenText';
				else if(main.result == null){
					document.getElementById('mainRes').className = 'yellowText';
					document.getElementById('mainRes').innerHTML = 'In progress...'
				}
				else
					document.getElementById('mainRes').className = 'redText';

				var slaResult = document.getElementById('slaMain');
				
				var baseResult = document.getElementById('baseMain');
				getResultPreviews();


				//SLA
				slaResult.innerHTML = slaResults[2];
				if(slaResults[2] == 'Failed')
					slaResult.className = 'redText';
				else if(slaResults[2] == 'Passed')
					slaResult.className = 'greenText';
				
				//BASE
				if(baseID[2] != '-1' && baseID[2] != null){
					baseResult.style.color = '#00FF00';
					baseResult.innerHTML = baseID[2];
					//XXX:add see details
					var baseLinksMain = document.getElementsByName('seeBaseMain');

					for(var j=0; j < baseLinksMain.length; j++){
						baseLinksMain[j].href = config.report + main.name + '&id=' + baseID[2];
						baseLinksMain[j].innerHTML = '(Go to this run!)';
					}
				}


				//******************************************************************
				//RECENTS!!!!
				//******************************************************************
				for(var i=0; i<recents.length; i++){
					var editLinks = document.getElementsByName('editSLA' +(i+1));

					for(var j=0; j < editLinks.length; j++){
						editLinks[j].href = config.update + recents[i].name +'&id=' + recents[i].id;
						editLinks[j].innerHTML = 'Edit';
					}

					


					document.getElementById('jobName'+ (i+1)).innerHTML = recents[i].name;
					document.getElementById('jobNum'+ (i+1)).innerHTML = '#'+recents[i].id;
					var date = new Date(parseFloat(recents[i].time)-28800000);
					
					document.getElementById('jobDate' + (i+1)).innerHTML = (date.toUTCString()).substring(0,date.toUTCString().length-3);
					document.getElementById('jobLink' + (i+1)).href = config.report + recents[i].name;
					
					document.getElementById('jobRes'+ (i+1)).innerHTML = recents[i].result;
					if(recents[i].result == 'SUCCESS')
						document.getElementById('jobRes'+ (i+1)).className = 'greenText';
					else if(recents[i].result == null){
						document.getElementById('jobRes'+ (i+1)).className = 'yellowText';
						document.getElementById('jobRes'+ (i+1)).innerHTML = 'In progress...'
					}
					else
						document.getElementById('jobRes'+ (i+1)).className = 'redText';


					var slaResult = document.getElementById('sla'+ (i+1));
				
					var baseResult = document.getElementById('base'+ (i+1));
					//SLA
					slaResult.innerHTML = slaResults[i];
					if(slaResults[i] == 'Failed')
						slaResult.className = 'redText';
					else if(slaResults[i] == 'Passed')
						slaResult.className = 'greenText';
					
					//BASE
					if(baseID[i] != '-1' && baseID[i] != null){
						baseResult.style.color = '#00FF00';
						baseResult.innerHTML = baseID[i];

						var baseLinks = document.getElementsByName('seeBase' +(i+1));

						for(var j=0; j < baseLinks.length; j++){
							baseLinks[j].href = config.report + recents[i].name + '&id=' + baseID[i];
							baseLinks[j].innerHTML = '(Go to this run!)';
						}
					}
					
				}
				document.getElementById('searchBar').action = config.report;
				buildDropDown();
				document.getElementById('droplist').action = config.report;

			}

		</script>
	</head>
	<body>
		<div id= "pagewrapper">
			<div id="heading" class="mule">
				<img src="views/sources/mulesoft-logo.png" id="ml"alt="MuleLogo" width = '340px' height='120px'>

				<p id="logo"> Performance Analyzer</p>
			</div>
			<div id="menu" class="mule">
				<p id='menuHeading'><u><b>Menu</b></u></p><br>
				<p class = 'menuItems'> <a href="/">Home</a></p>
				<p class = 'menuItems'> <a href="/about">About</a></p>
			</div>
			<div id='content'>
				<div id='nightlyTest' class = 'homeMule'>
					<div class='homeBoxTitle'>
						Nightly Continuous Integration
						

					</div>
					<div class='mainPreview'>
						<span id='mainName' class='jobNameHome'>PerfCI</span>
						<div class='jobInfoPreview'>
							<ul>
								<li>Latest run <span id='mainNum' class='keyMetricResults'>#48</span> on <span id='mainDate' class='keyMetricResults'>6/29/2014 11:22:22</span></li>
								<li >Status Report - <span id='mainRes'></span> </li>
									<ul>
										<li>SLA Check: <span id='slaMain' class='grayText'>Not Configured</span> <a name= 'editSLAMain' class='editSLA' href=''></a></li>
										<li>Compared to Previous: <span id='prevMain' class='grayText'>Not Configured</span><a name= 'editSLAMain' class='editSLA' href=''></a></li>
										<li>Current Baseline: <span id='baseMain' class='grayText'>Not Configured</span><a name= 'seeBaseMain' class='editSLA' href=''></a></li>
									</ul>
							</ul>
						</div>
						<a class='detailsLink' id='mainLink' href="">See details</a><br>
	
					</div>
				</div>	
				<div id='recentRuns' class='homeMule'>
					<div class='homeBoxTitle'>
						Recent Runs
					</div>
					<div class='mainPreview'>
						<span id='jobName1' class='jobNameHome'>Jetty</span> 
						<div class='jobInfoPreview'>
							<ul>
								<li>Latest run <span id='jobNum1' class='keyMetricResults'>#48</span> on <span id='jobDate1' class='keyMetricResults'>6/29/2014 11:22:22</span></li>
								<li>Status Report - <span id='jobRes1'></span></li>
									<ul>
										<li>SLA Check: <span id='sla1' class='grayText'>Not Configured</span><a name= 'editSLA1' class='editSLA' href=''></a></li>
										<li>Compared to Previous: <span  id='prev1' class='grayText'>Not Configured</span><a name= 'editSLA1' class='editSLA' href=''></a></li>
										<li>Current Baseline: <span id='base1' class='grayText'>Not Configured</span><a name= 'seeBase1' class='editSLA' href=''></a></li>
									</ul>
							</ul>
						</div>
						<a class='detailsLink' id='jobLink1' href="">See details</a><br>
						<span  id= 'jobName2'class='jobNameHome'>CH_Production</span> 
						<div class='jobInfoPreview'>
							<ul>
								<li>Latest run is <span id='jobNum2' class='keyMetricResults'>#48</span> on <span id='jobDate2' class='keyMetricResults'>6/29/2014 11:22:22</span></li>
								<li>Status Report - <span id='jobRes2'></span></li>
									<ul>
										<li>SLA Check: <span id='sla2' class='grayText'>Not Configured</span><a name= 'editSLA2' class='editSLA' href=''></a></li>
										<li>Compared to Previous: <span id='prev2' class='grayText'>Not Configured</span><a name= 'editSLA2' class='editSLA' href=''></a></li>
										<li>Current Baseline: <span id='base2' class='grayText'>Not Configured</span><a name= 'seeBase2' class='editSLA' href=''></a></li>
									</ul>
							</ul>
						</div>
						<a id='jobLink2' class='detailsLink' href="">See details</a>	<br>
					</div>
				</div>
				<div id='otherBuilds' class='homeMule'>
					<div id='dropDownHome'>						
						<form id='droplist'action='' method='get'>
							Select a Build: 
							<select name='dropMenu' id='jobDropDown'></select>
							<input type="button" onClick="location= config.report + jobDropDown.options[jobDropDown.selectedIndex].value;" value="GO">
						</form>
					</div>
					<div id='searchForBuilds'>
						<form id='searchBar' action='' method='get'>
							Search for a Build: <input type="text" name="jobName">
							<input type='submit' value='Submit'>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			initialize();
		</script>
	</body>

</html>
