<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link href='public/styles/muleStyle.css' rel='stylesheet'type='text/css'>

		<script src="../config.js"></script>
		<script>
		var data = [];
			function getRequest(url){
				var request = new XMLHttpRequest();
				request.open("GET", url, false);
				request.send(null);
				return request.responseText;
			}
			function getJobs(){
				var get = getRequest(config.retrieveRecentJobs);
				var info = JSON.parse(get);

				for(var i = 0; i <  info.jobs.length; i++){
					if(info.jobs[i].lastBuild != null){
						data[data.length] = {'name': info.jobs[i].name, 
											 'id': info.jobs[i].lastBuild.number,
											 'time': info.jobs[i].lastBuild.timestamp};
					}
				}				
			}

			function getMostRecentJobs(size){
				var times = [];
				for(var i=0; i<size; i++){
					times[i] = {'name': '', 
							 'id': 0,
							 'time': 0};
				}
				var seen = false
				for(var i=0; i<size; i++){
					for(var j =0; j<data.length; j++){
						for(var k=0; k<i; k++){
							if(data[j].time == times[k].time)
								seen = true
						}						
						if(data[j].time > times[i].time && !seen){
							times[i].time = data[j].time;
							times[i].name = data[j].name;
							times[i].id = data[j].id;
						}
						else if(seen){
							seen = false;
						}
					}
				}
				return times;	
			}


			function initialize(){
				getJobs();
				var recents = getMostRecentJobs(2);
				for(var i=0; i<recents.length; i++){
					document.getElementById('jobName'+ (i+1)).innerHTML = recents[i].name;
					document.getElementById('jobNum'+ (i+1)).innerHTML = '#'+recents[i].id;
					var date = new Date(parseFloat(recents[i].time)-28800000);
					
					document.getElementById('jobDate' + (i+1)).innerHTML = (date.toUTCString()).substring(0,date.toUTCString().length-2);
				}


			}

			


		</script>
	</head>
	<body>
		<div id= "pagewrapper">
			<div id="heading" class="mule">
				<img src="views/sources/mulesoft-logo.png" id="ml"alt="MuleLogo" width = '340px' height='120px'>

				<p id="logo"> Performance Analyzer</p>
			</div>
			<div id="menu" class="mule">
				<p id='menuHeading'><u><b>Menu</b></u></p><br>
				<p class = 'menuItems'> <a href="/">Home</a></p>
				<p class = 'menuItems'> <a href="/about">About</a></p>
			</div>
			<div id='content'>
				<div id='nightlyTest' class = 'homeMule'>
					<div class='homeBoxTitle'>
						Nightly Continuous Integration
						

					</div>
					<div class='mainPreview'>
						<span class='jobNameHome'>PerfCI</span>
						<div class='jobInfoPreview'>
							<ul>
								<li>Latest run <span class='keyMetricResults'>#48</span> on <span class='keyMetricResults'>6/29/2014 11:22:22</span></li>
								<li>Status Report</li>
									<ul>
										<li>SLA Check: <span class='greenText'>Passed</span></li>
										<li>Compared to Previous: <span class='redText'>Failed</span></li>
										<li>Compared to Baseline: <span class='grayText'>Not Configured</span></li>
									</ul>
							</ul>
						</div>
						<a class='detailsLink' href="">See details</a><br>
	
					</div>
				</div>	
				<div id='recentRuns' class='homeMule'>
					<div class='homeBoxTitle'>
						Recent Runs
					</div>
					<div class='mainPreview'>
						<span id='jobName1' class='jobNameHome'>Jetty</span> 
						<div class='jobInfoPreview'>
							<ul>
								<li>Latest run <span id='jobNum1' class='keyMetricResults'>#48</span> on <span id='jobDate1' class='keyMetricResults'>6/29/2014 11:22:22</span></li>
								<li>Status Report</li>
									<ul>
										<li>SLA Check: <span class='greenText'>Passed</span></li>
										<li>Compared to Previous: <span class='redText'>Failed</span></li>
										<li>Compared to Baseline: <span class='grayText'>Not Configured</span></li>
									</ul>
							</ul>
						</div>
						<a class='detailsLink' href="">See details</a><br>
						<span  id= 'jobName2'class='jobNameHome'>CH_Production</span> 
						<div class='jobInfoPreview'>
							<ul>
								<li>Latest run is <span id='jobNum2' class='keyMetricResults'>#48</span> on <span id='jobDate2' class='keyMetricResults'>6/29/2014 11:22:22</span></li>
								<li>Status Report</li>
									<ul>
										<li>SLA Check: <span class='greenText'>Passed</span></li>
										<li>Compared to Previous: <span class='redText'>Failed</span></li>
										<li>Compared to Baseline: <span class='grayText'>Not Configured</span></li>
									</ul>
							</ul>
						</div>
						<a class='detailsLink' href="">See details</a>	<br>
					</div>
				</div>
			</div>
		</div>
		<script>
			initialize();
		</script>
	</body>

</html>
