<!DOCTYPE >
<html>
	<head>
		<title> Performance Runs</title>
		<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
		<link href='../public/styles/muleStyle.css' rel='stylesheet'type='text/css'>
		<link rel="Shortcut Icon" type="image/ico" href="views/sources/favicon.ico">
		<script src="../config.js"></script>
	</head>
	<body>	
		<div id= "pagewrapper">
			<div id='loginBox' >
				<p>Login to the "Performance Analyzer":</p>
				<form id='form' method='post' action='http://mule-perflab06.managed.contegix.com:8880/login'>
					<input type="text" name="user" placeholder='User Name'>
					<input type="password" name="password" placeholder='Password'>
					<input type="submit" value="Login"> 
				</form>
			</div>
		</div>
		<script type="text/javascript">
		document.addEventListener('keypress', function(event) {
	        if (event.keyCode == 13) {
	            document.getElementById('form').submit();
	        }
	    });
		</script>
	</body>
</html>