<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link href='public/styles/muleStyle.css' rel='stylesheet'type='text/css'>

		<script src="../config.js"></script>
		<script src="../graph.js"></script>
		<script>
			var jobName = getQueryVariable('jobName');
			var allBuildIds = [];
			var chosenID = -1;
			var testObject = getItems(jobName);
			var cache = {
						'duration': '',

				        'cpu use': [],
				        'cpu iowait': [],
				        'cpu steal': [],

			 		    'mem use': [],
			 		    'mem kbcache': [],
			 		    'mem kbbuffers': [],
			         
			  			'disk util': [],
			  	        'disk await': [],
			  		    'disk tps': [],
			  			'disk rd_sec': [],
			  			'disk wr_sec': [],
			  		  
			  		  	'network used': [],
			  			'network txkB': [],
			  			'network rxkB': [],
			  		  
			            'paging pgpgin': [],
			            'paging pgpgout': [],
			            'paging fault': [],
			            'paging majflt': [],
			            'paging pgpgin': [],
			            'paging pgfree': [],
			            'paging pgscank': [],
			            'paging pgscand': [],
			            'paging pgsteal': [],
			            'paging vmef': [],
			  		  
			  			'swap in': [],
			  			'swap out': []
			};

			var testOptions = {
										 'cpu use ':'CPU: Used',
										 'cpu iowait ':'CPU: IO Wait',
										 'cpu steal ':'CPU: Steal',

										 'mem use ':'Memory: Used',
							 		     'mem kbcache ':'Memory: KB Cache',
										 'mem kbbuffers ':'Memory: KB Buffers',
							         							  	      
										 'disk util ':'Disk: Used',
										 'disk await ':'Disk: Await',
										 'disk tps ':'Disk: TPS',
										 'disk rd_sec ':'Disk: RD_Sec',
										 'disk wr_sec ':'Disk: WR_Sec',
							  		  
										 'network used ':'Network: Used',
							  			 'network txkB ': 'Network: TxkB',
										 'network rxkB ':'Network: RxkB',
							  		  
										 'paging pgpgin ':'Paging: Pgpgin',
										 'paging pgpgout ':'Paging: Pgpgout',
										 'paging fault ':'Paging: Fault',
										 'paging majflt ':	'Paging: Maj. Fault',
										 'paging pgfree ':'Paging: PG Free',
										 'paging pgscank ':'Paging: PG Scank',
										 'paging pgscand ':'Paging: PG Scand',
										 'paging pgsteal ':'Paging: PG Steal',
										 'paging vmef ':'Paging: VMEF',
							  		  
										 'swap in ':'Swap: In',
										 'swap out ':'Swap: Out'
			}

			var avgCPU, avgDisk, avgMem, avgTPS, avgNet, avgGCStall, avgHeap, avgRespT;

			function showHide(index){
				var divToChange;
				if(index == 0){
					divToChange = document.getElementById('slaResults');
				}
				else if(index == 1){
					divToChange = document.getElementById('prevResults');			
				}
				else if(index == 2){
					divToChange = document.getElementById('baseResults');
				}

				if(divToChange.style.display == 'none' || divToChange.style.display == ''){
					divToChange.style.display = 'block';
					document.getElementById('plus'+index).innerHTML = '-';
				}
				else{
					divToChange.style.display = 'none';
					document.getElementById('plus'+index).innerHTML = '+';
				}
			}
			function getQueryVariable(variable) {
			    var query = window.location.search.substring(1);
			    var vars = query.split('&');
			    for (var i = 0; i < vars.length; i++) {
			        var pair = vars[i].split('=');
			        if (decodeURIComponent(pair[0]) == variable) {
			            return decodeURIComponent(pair[1]);
			        }
			    }
			    return 'UNDEFINED';
			}
			
			function getRequest(url){
				var request = new XMLHttpRequest();
				request.open("GET", url, false);
				request.send(null);
				return request.responseText;
			}

			function getBuilds(path){
				if(allBuildIds.length == 0){
					var str = getRequest(path);				
					var results = str.split(',');
					results.pop();
					allBuildIds = results;
					return results;
				}
				else{
					return allBuildIds;
				}
			}

			function buildDropDown(){
				var buildIds = getBuilds(config.retrieveBuilds+ jobName);
				var dropDown = document.getElementById('buildNumber');

				for(var i=0; i < buildIds.length; i++){
					if(i == 0)
						dropDown.innerHTML += '<option value="'+i+'"selected="selected">'+buildIds[i]+'</option>';
					else
						dropDown.innerHTML += '<option>'+buildIds[i]+'</option>';
				}
			}

			function getData(type, idNum){
				var job = jobName;				
				var query = '?job='+job+'&id='+idNum+'&type='+type;
				var url = config.retrieveData+query
					
				var str = getRequest(url);
				if(type.indexOf('duration') >=0){
					return str;
				}
				var data = str.split(',');
				data.pop();
				return data;				
			}
			//tps, responsetime, failed requests, error rate
			//cpu, memory, disk use, net use
			function fillCache(){
				cache['duration'] =  getData('duration', chosenID);

				cache["cpu use"] = getData('cpu use', chosenID);
				cache["cpu iowait"] = getData('cpu iowait', chosenID);
				cache["cpu steal"] = getData('cpu steal', chosenID);

				cache['mem use'] = getData('mem use', chosenID);				
				cache['mem kbcache'] = getData('mem kbcache', chosenID);
				cache['mem kbbuffers'] = getData('mem kbbuffers', chosenID);

				cache['disk util'] = getData('disk util', chosenID);
				cache['network used'] = getData('network used', chosenID);
				cache['disk tps'] = getData('disk tps', chosenID);
			}
			function getAvg(data){
				var avg = 0;
				for(var i=0; i<data.length; i++){
					avg += parseFloat(data[i]);
				}
				avg = avg/data.length;
				return avg;

			}		
			
			function calculateAllAverages(){
				avgCPU = (''+ getAvg(cache['cpu use'])).substring(0,5);
				avgDisk = (''+ getAvg(cache['disk util'])).substring(0,5);
				avgTPS = (''+ getAvg(cache['disk tps'])).substring(0,7);
				avgNet = (''+ getAvg(cache['network used'])).substring(0,5);
				avgMem = (''+ getAvg(cache['mem use'])).substring(0,5);
			}

			//Return object
			/*
				obj = {
						"metric": [jobResult, passed(true/false)]
				}

			*/
			function slaResults(){
				var slaObj = testObject.sla;

				var resultObj = {};

				for(var metric in slaObj){
					var metricName = metric.substring(0, metric.length-5);
					var min = parseFloat(slaObj[metric][0]);
					var max = parseFloat(slaObj[metric][1]);
					var jobResult;
					var display = testOptions[metricName+' '] + ' (' +type.toUpperCase()+') --';
					var type = metric.substring(metric.length-4, metric.length-1);
					if(type == 'avg'){
						jobResult = getAvg(cache[metricName]);						
					}
					else if(type == '90%'){
						jobResult = getPercentile(cache[metricName], 90);
					}
					else if(type == '99%'){
						jobResult = getPercentile(cache[metricName], 99);
					}

					if(min < jobResult && jobResult < max){
						resultObj[display] = [jobResult, true];
					}
					else{
						resultObj[display] = [jobResult, false];
					}

				}
				return resultObj;
			}
			function getItems(jobName){
				var url = config.getTestMetrics + jobName;
				var resp = getRequest(url);
				if(resp == '')
					resp = '{"sla":{},"prev":{},"base":{}}';
				return JSON.parse(resp);
			}

			function getPercentile(data, p){
				var sortedD = data.sort();
				var index = Math.ceil((p/100)*data.length);

				return sortedD[index];

			}

			function getAvgResponseTime(){

			}
			function getFailedRequests(){

			}
			function getErrorRequests(){

			}

			function fillPage(){
				document.getElementById('durationInsert').innerHTML = cache['duration'];
				document.getElementById('avgCpu').innerHTML = avgCPU+ ' %'; 
				document.getElementById('avgDisk').innerHTML = avgDisk+ ' %';
				document.getElementById('avgMem').innerHTML = avgMem+ ' %';
				document.getElementById('avgNet').innerHTML = avgNet+ ' %';
				document.getElementById('avgTPS').innerHTML = avgTPS;
				
				var sla = slaResults();



				/*
					options = {
						    'description': 'nameOfLine1, nameOfLine2, nameOfLine3'
							'data': [[line1...],[line2...],[line3...]]
							'baseline': [line...]
							'percentage': true/false
							}

				*/
				var options = {
							'description': 'CPU Graph',
							'data':[cache['cpu use']],
							'baseline': null,
							'percentage': true
				};
				updateGraph('graph1', options);
				options.data[0] = cache['mem use'];
				updateGraph('graph2',options);
				options.data[0] = cache['disk util'];
				updateGraph('graph3',options);

			}

			function initializePage(){
				document.getElementById('jobTitle').innerHTML = jobName;
				buildDropDown();
				updatePage();
				
			}
			function updatePage(){
				var dropDown = document.getElementById('buildNumber');
				var buildNumber = dropDown.options[dropDown.selectedIndex].text;
				chosenID = dropDown.options[dropDown.selectedIndex].text;
				fillCache();
				calculateAllAverages();
				fillPage();
			}
		</script>
	</head>
	<body>
		<div id= "pagewrapper">
			<div id="heading" class="mule">
				<img src="views/sources/mulesoft-logo.png" id="ml"alt="MuleLogo" width = '340px' height='120px'>

				<p id="logo"> Performance Analyzer</p>
			</div>
			<div id="menu" class="mule">
				<p id='menuHeading'><u><b>Menu</b></u></p><br>
				<p class = 'menuItems'> <a href="/">Home</a></p>
				<p class = 'menuItems'> <a href="/about">About</a></p>
			</div>
			<div id='content' >

				<div id='contentDisplay'>
					<p><b>Hudson Job:</b> <span id='jobTitle'></span></p>
					<div id='jobInfo' class='mule'>
						<p id='buildDropDownTitle'>Build:</p>
						<form id='buildDropDown'action="">
							<select id="buildNumber" onchange="updatePage()">
							</select>
						</form>
						
						<p id='testDurationTitle'>Test Duration: <span id='durationInsert' class='keyMetricResults'>---</span> seconds</p>
					</div>
				</div>
				<div id='keyMetrics'>
					<p>Key Metrics</p>
					<div id='cpuBox' class="infoMule">
						<p class='keyTitle'>Test Results</p>
						<p id='cpuMetrics'>
							Average TPS: <span id='avgTPS' class='keyMetricResults'>---</span><br>
							Average response time:  <span id='' class='keyMetricResults'>---</span><br>
							90th-pctile response time:  <span id='' class='keyMetricResults'>---</span><br>
							Failed requests:  <span id='' class='keyMetricResults'>---</span> <br>
							Error rate:  <span id='' class='keyMetricResults'>---</span><br>
						</p>
						
					</div>
					<div id='systemBox'class="infoMule">
						<p class='keyTitle'>System Resources</p>
						<p id='sysMetrics'>
							Avg CPU Use:  <span id='avgCpu' class='keyMetricResults'>---</span><br>
							Avg Memory Use:  <span id='avgMem' class='keyMetricResults'>---</span><br>
							Avg Disk Use:  <span id='avgDisk' class='keyMetricResults'>---</span><br>
							Avg Network Use:   <span id='avgNet' class='keyMetricResults'>---</span><br>
						</p>
						
					</div>
					<div id='jvmBox'class="infoMule">
						<p class='keyTitle'>JVM </p>
						<p id='jvmMetrics'>
							Avg CPU Use:  <span id='' class='keyMetricResults'>---</span><br>
							Avg Memory Use:  <span id='' class='keyMetricResults'>---</span><br>
						</p>
						
					</div>
				</div>
				<div id='compareMetrics'>
					<p><b>Comparisons</b></p>
					<div id='compareBlock' class="mule">
						<div id='slaSection'>
							<p class='keyTitle' onclick="showHide(0)"><span id='plus0'>+</span> SLA Check: <span id='slaPass' class='greenText'> Passed</span></p>
							<div id='slaResults'>
								<p class='dataResults'>
									Previous run: <span class='greenText'># 22</span><br>
									Avg TPS: <span class='greenText'>- 4%</span><br>
									Avg response time: <span class='greenText'>+ 4.5%</span><br>
								</p>
								
							</div>
						</div>
						<div id='prevSection'>
							<p class='keyTitle' onclick="showHide(1)"><span id='plus1'>+</span> Compared to previous run:  <span id='prevPass' class='redText'> Failed</span></p>
							<div id='prevResults'>
								<p class='dataResults' >
									Previous run: <span class='redText'># 22</span><br>
									Avg TPS: <span class='redText'>- 4%</span><br>
									Avg response time: <span class='redText'>+ 4.5%</span><br>
								</p>
							</div> 
						</div>
						<div id='baseSection'>
							<p class='keyTitle' onclick="showHide(2)"><span id='plus2'>+</span> Compared to baseline:  <span id='basePass' class='grayText'> Not Configured</span> </p>
							<div id='baseResults'>
								<p class='dataResults' >
								</p>
							</div>
						</div>
					</div>
				</div>
				<div id='graphArea'>
						<p>Graph Plots</p>
					<div class='graphs'>
						<div class='graphContent'>
							CPU Graph<br>
							<canvas id='graph1' width='950' height='500'> 
							</canvas><br>
							Memory Graph<br>
							<canvas id='graph2' width='950' height='500'> 
							</canvas><br>
							Disk Graph<br>
							<canvas id='graph3' width='950' height='500'> 
							</canvas><br>
						</div>
					</div>
				</div>
			</div>

		</div>
		<script>
			initializePage();
		</script>
	</body>

</html>
