<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link href='public/styles/muleStyle.css' rel='stylesheet'type='text/css'>
		<link rel="Shortcut Icon" type="image/ico" href="views/sources/favicon.ico">
		<script src="../config.js"></script>
		<script src="../graph.js"></script>
		<script>
			var jobName = getQueryVariable('jobName');
			var allBuildIds = [];
			var chosenID = -1;
			var mouseIsDown;
			var holdPosition= 0;
			var optionalID = getQueryVariable('id');
			if(optionalID == 'UNDEFINED')
				optionalID = 0;
			var prevID, baseID;
			var onCanvas =[0,0,0];
			var options = [];
			var helperServerNames = ['Server 1','Server 2'];
			var sysResourceNames = [];

			var serverNames=[];

			var testObject = getItems(jobName);
			var cache = {};
			var perfCache = {};
			var prevCache = {};
			var baseCache = {};

			var testOptions = {};

			var mouseDown = 0;
			


			var avgCPU, avgDisk, avgMem, avgTPS, avgNet, avgGCStall, avgHeap, avgRespT;
			var compCPU, compDisk, compMem, compTPS, compNet, compGCStall, compHeap, compRespT;
			function showHide(index){
				var divToChange;
				if(index == 0){
					divToChange = document.getElementById('slaResults');
				}
				else if(index == 1){
					divToChange = document.getElementById('prevResults');			
				}
				else if(index == 2){
					divToChange = document.getElementById('baseResults');
				}

				if(divToChange.style.display == 'none' || divToChange.style.display == ''){
					divToChange.style.display = 'block';
					document.getElementById('plus'+index).innerHTML = '-';
				}
				else{
					divToChange.style.display = 'none';
					document.getElementById('plus'+index).innerHTML = '+';
				}
			}
			function getQueryVariable(variable) {
			    var query = window.location.search.substring(1);
			    var vars = query.split('&');
			    for (var i = 0; i < vars.length; i++) {
			        var pair = vars[i].split('=');
			        if (decodeURIComponent(pair[0]) == variable) {
			            return decodeURIComponent(pair[1]);
			        }
			    }
			    return 'UNDEFINED';
			}

			function findServerNames(){
				for(var server in cache.GraphData){
					if(cache.GraphData.hasOwnProperty(server)){
						var name = server.substring(0, server.indexOf(':'));
						if(serverNames.length == 0){
							serverNames[serverNames.length] = name;
						}
						else if(serverNames[serverNames.length-1] != name){
							serverNames[serverNames.length] = name;
						}
					}
				}				
			}
			
			function getRequest(url){
				var request = new XMLHttpRequest();
				request.open("GET", url, false);
				request.send(null);
				return request.responseText;
			}

			function getBuilds(path){
				if(allBuildIds.length == 0){
					var str = getRequest(path);				
					var results = str.split(',');
					results.pop();
					allBuildIds = results;
					return results;
				}
				else{
					return allBuildIds;
				}
			}

			function buildDropDown(dropDownName){
				var buildIds = JSON.parse(getRequest(config.getBuildsByDescription+ jobName))['builds'];
				var dropDown = document.getElementById(dropDownName);
				dropDown.innerHTML = '';
				dropDown.style.fontSize = '20px';
				if(optionalID == 0){
					for(var i=0; i < buildIds.length; i++){
						if(buildIds[i].description != null  && buildIds[i].description.length > 75)
							buildIds[i].description= buildIds[i].description.substring(0,75);

						if(i == 0)
							dropDown.innerHTML += '<option value="'+buildIds[i].number+'" selected="selected">'+buildIds[i].number+' | ' +buildIds[i].description+'</option>';
						else
							dropDown.innerHTML += '<option value="'+buildIds[i].number+'" >'+buildIds[i].number+' | ' +buildIds[i].description+'</option>';
					}
				}
				else{
					for(var i=0; i < buildIds.length; i++){
						if(buildIds[i].description != null && buildIds[i].description.length > 75)
							buildIds[i].description= buildIds[i].description.substring(0,75);

						if(buildIds[i].number == optionalID)
							dropDown.innerHTML += '<option value="'+buildIds[i].number+'" selected="selected">'+buildIds[i].number+' | ' +buildIds[i].description+'</option>';
						else
							dropDown.innerHTML += '<option value="'+buildIds[i].number+'" >'+buildIds[i].number+' | ' +buildIds[i].description+'</option>';
					}
				}
			}

			function getData(idNum){
				var job = jobName;								
				var url = config.getParsedData + jobName + '&id=' + idNum;
					
				var str = getRequest(url);
				
				var data = JSON.parse(str);
				return data;			
			}


			//tps, responsetime, failed requests, error rate
			//cpu, memory, disk use, net use
			function fillCache(){
				if(jobName != 'PERF_CI')
					cache = getData(chosenID);
				else{
					var perfDrop = document.getElementById('perfJob');
					if(perfDrop.options[perfDrop.selectedIndex] != null){
						var chosenSubJob  = perfDrop.options[perfDrop.selectedIndex].value;
						cache = getData(chosenID)[chosenSubJob];
					}
					else{
						cache = getData(chosenID);
					}

					
				}
				trimCache(cache);
				

				 
			}
			function redrawFrame(i, x){
				if(options[i].currX + x >= 0){
					options[i].currX += x;

					updateGraph('graph'+ (i+1), options[i]);
				} 
			}

			
			function drag(e){
				var evt= window.event || e //equalize event object
				evt.preventDefault();

				if(mouseIsDown){
					if(holdPosition <= e.pageX){
						redrawFrame(evt.target.gIndex,2);
						holdPosition = 	e.pageX;					
					}
					else{
						
						redrawFrame(evt.target.gIndex,-2);		
						holdPosition = 	e.pageX;			
					}
				}
				
			}
			function isDown(e){
				e.preventDefault();
				holdPosition = e.pageX;
				mouseIsDown = true;
			}
			function isUp(e){
				e.preventDefault();
				mouseIsDown = false;
			}

			function zoom(e){
				var evt = window.event || e //equalize event object
				var delta = evt.wheelDelta;
				if(delta< 0){
					zoomOut(evt.target.gIndex);
				}
				else{
					zoomIn(evt.target.gIndex);
				}

				if(evt.preventDefault){
					evt.preventDefault();
				}
				else
					return false;
			}

			function zoomIn(i){
				var change = options[i].setWidth * .005;
				if(options[i].setWidth >10)
					options[i].setWidth -= change;
				updateGraph('graph'+ (i+1), options[i]);
			}

			function zoomOut(i){
				var change = options[i].setWidth * .005;

				options[i].setWidth += change;
				updateGraph('graph'+ (i+1), options[i]);
			}
			function printMetric(nameOfP, name, value){
				var box = document.getElementById(nameOfP);
				var displayName= '';
				if(name.indexOf('.com') >= 0){
					var type = name.substring(name.indexOf(':')+1, name.length);
					var server = 'Server '+ name.substring(13,14) + ' ' ;
					displayName = server +type;
					displayName = displayName.replace(/_/g, ' ');
					box.innerHTML += displayName + ": <span id='"+ name +"' class='keyMetricResults'>"+
									value+ 
									"<span id='comp"+name+"'></span>"+ 
									"</span><br>";
				}
				else{
					displayName = name.replace(/_/g, ' ');
					box.innerHTML += displayName + ": <span id='"+ name +"' class='keyMetricResults'>" +
									value + 
									"<span id='comp"+name+"'></span>"+ 
									"</span><br>";
				}
			}
			function reloadGraphs(){
				dropDown = document.getElementById('mainGDrop');
				var mainChosenServer  = dropDown.options[dropDown.selectedIndex].text+':';	
				dropDown = document.getElementById('otherGDropServer');
				var otherChosenServer  = dropDown.options[dropDown.selectedIndex].text+':';	
				dropDown = document.getElementById('otherGDropMetric');
				var otherChosenMetric = dropDown.options[dropDown.selectedIndex].text;	

				options = [{
					'description': ['Current CPU Util', 
									'Current Memory Util', 
									'Current Disk Util'],
					'data':[cache['GraphData'][mainChosenServer+ 'CPU_Util'],
							cache['GraphData'][mainChosenServer+ 'MEMORY_Util'],
							cache['GraphData'][mainChosenServer+ 'DISK_Util']],
					'baseline': null,
					'percentage': true,
					'autosize': false,
					'setWidth': -1,
					'currX': 0
				 },
				 {
					'description': ['Metric: ' + otherChosenMetric],
					'data':[cache['GraphData'][otherChosenServer+otherChosenMetric]],
					'baseline': null,
					'percentage': true,
					'autosize': false,
					'setWidth': -1,
					'currX': 0
				 }];

				for(var i=0; i < options.length; i++){						
					updateGraph('graph'+(i+1), options[i]);
				}
			}
			
			function fillBox(nameOfP){
				var box = document.getElementById(nameOfP);
				
				if(nameOfP == 'summary'){
					var desiredResults = cache['SingularData']['Summary'];
					box.innerHTML='<br>';
					for(var prop in desiredResults){
						if(desiredResults.hasOwnProperty(prop)){	
							
								printMetric(nameOfP, prop, desiredResults[prop]);
							
						}
					}
				}
				else if(nameOfP == 'testMetrics'){
					box.innerHTML = '';
					var desiredResults = cache['SingularData']['Test_Results'];

					for(var prop in desiredResults){
						if(desiredResults.hasOwnProperty(prop)){	
							if(desiredResults[prop].length == 2){
								var value = desiredResults[prop];
								printMetric(nameOfP, prop, value[0] + ' '+value[1]);
							}
							else{
								printMetric(nameOfP, prop, desiredResults[prop]);
							}
						}
					}
				}
				else if(nameOfP == 'sysMetrics'){
					if(serverNames.length == 1){
						box = document.getElementById(nameOfP+'1');
						document.getElementById('testBox').style.width = '30%';
						document.getElementById('systemBox').style.width = '30%';
						document.getElementById('jvmBox').style.width = '30%';
						document.getElementById('sysMetricsBox1').style.float = '';
						box.innerHTML = '';
						document.getElementById('sysMetrics1').style.marginTop = '0';
						document.getElementById('sysMetrics1').style.paddingBottom = '200px';
						document.getElementById('sysMetrics1').style.marginLeft = '32px';
						document.getElementById('sysMetrics1').style.width = '90%';
						document.getElementById('sysTitle1').innerHTML = serverNames[0];
						document.getElementById('sysTitle1').style.width = '100%';
						var desiredResults = cache['SingularData']['System_Resources'];
						
							var data = getDataByServer(helperServerNames[0]);
							document.getElementById('sysTitle1').innerHTML = serverNames[0];
							for(var metric in data){
								if(data.hasOwnProperty(metric)){

									if(data[metric].length ==2){
										var value = data[metric];
										printSysMetric('sysMetrics1', metric, value[0]+ ' '+  value[1], helperServerNames[0]+':'+metric);
									}
									else{
										printSysMetric('sysMetrics1', metric, data[metric], helperServerNames[0]+':'+metric);	
									}
								}
							}						
					}
					else{
						//XXX
						document.getElementById('testBox').style.width = '21%';
						document.getElementById('systemBox').style.width = '47%';
						document.getElementById('jvmBox').style.width = '21%';
						document.getElementById('sysMetricsBox1').style.width = '50%';
						document.getElementById('sysMetricsBox1').style.float = 'left';
						document.getElementById('sysMetrics1').style.marginTop = '0';
						document.getElementById('sysMetrics1').style.paddingBottom = '200px';
						document.getElementById('sysMetrics1').style.marginLeft = '32px';
						document.getElementById('sysMetrics1').style.width = '90%';
						document.getElementById('showscrollerbox').innerHTML += '<div id="sysMetricsBox2"> <p id="sysMetrics2"></p></div>';
						document.getElementById('sysMetrics2').style.marginTop = '0';
						document.getElementById('sysMetricsBox2').style.width = '43%';
						document.getElementById('sysMetrics2').style.height = '100%';
						document.getElementById('sysMetrics2').style.width = '230%';
						document.getElementById('sysMetrics1').innerHTML ='';
						document.getElementById('sysMetrics2').innerHTML ='';
						for(var i=0; i< 2; i++){
							var data = getDataByServer(helperServerNames[i]);
							document.getElementById('sysTitle'+(i+1)).innerHTML = serverNames[i];
							for(var metric in data){
								if(data.hasOwnProperty(metric)){
									if(data[metric].length ==2){
										var value = data[metric];
										printSysMetric('sysMetrics'+(i+1), metric, value[0]+ ' '+  value[1], helperServerNames[i]+':'+metric);
									}
									else{
										printSysMetric('sysMetrics'+(i+1), metric, data[metric], helperServerNames[i]+':'+metric);
									}
								}
							}
						}
					}
				}
				else if(nameOfP == 'jvmMetrics'){
					box.innerHTML = '';
					var desiredResults = cache['SingularData']['JVM'];

					for(var prop in desiredResults){
						if(desiredResults.hasOwnProperty(prop)){	
							if(desiredResults[prop].length == 2){
								var value = desiredResults[prop];
								printMetric(nameOfP, prop, value[0] + ' '+value[1]);
							}
							else{
								printMetric(nameOfP, prop, desiredResults[prop][0] );
							}
						}
					}

				}

			}

			function printSysMetric(nameOfP, name, value, cachename){
				var box = document.getElementById(nameOfP);
				var displayName= '';
				if(name.indexOf('.com') >= 0){
					var type = name.substring(name.indexOf(':')+1, name.length);
					var server = 'Server '+ name.substring(13,14) + ' ' ;
					displayName = server +type;
					displayName = displayName.replace(/_/g, ' ');
					box.innerHTML += displayName + ": <span id='"+ name +"' class='keyMetricResults'>"+
									value+ 
									"<span id='comp"+cachename+"'></span>"+ 
									"</span><br>";
				}
				else{
					displayName = name.replace(/_/g, ' ');
					box.innerHTML += displayName + ": <span id='"+ name +"' class='keyMetricResults'>" +
									value + 
									"<span id='comp"+cachename+"'></span>"+ 
									"</span><br>";
				}
			}

			function getDataByServer(nameOfServer){
				var data = {};
				for(var metric in cache['SingularData']['System_Resources']){
					if(cache['SingularData']['System_Resources'].hasOwnProperty(metric)){
						if(metric.indexOf(nameOfServer) >= 0){
								var nameOfMetric = metric.substring(metric.indexOf(':')+1);
								
								data[nameOfMetric] = cache['SingularData']['System_Resources'][metric];
														
						}
					}
				}

				return data;
			}


			function display(str){
				var displayName = '';
				if(str.indexOf('.com') >= 0){
					var type = str.substring(str.indexOf(':')+1, str.length);
					var server = 'Server '+ str.substring(13,14) + ' ' ;
					displayName = server +type;
					displayName = displayName.replace(/_/g, ' ');
					return displayName;
				}
				else{
					displayName = str.replace(/_/g, ' ');
					return displayName;
				}
			}
						
			//Return object
			/*
				obj = {
						"metric": [jobResult, passed(true/false)]
				}

			*/
			function slaResults(){
				var slaObj = testObject.sla;

				var resultObj = {};
				resultObj['overall'] = true;
				for(var key in slaObj){
					if(slaObj.hasOwnProperty(key)){	
						var type = key.substring(key.indexOf('(')+1, key.indexOf(')')).replace(/\s/g, '_');
						var dataID = key.substring(key.indexOf(')')+2).replace(/\s/g,'_');
						var min = parseFloat(slaObj[key][0]);
						var max = parseFloat(slaObj[key][1]);

						var data = null;
						var jobResult = -1;

						var displayMetric = key+': '; //display
						if(type == 'System_Resources'){
							var serverResults = [];
							for(var metric in cache['SingularData']['System_Resources']){
								if(cache['SingularData']['System_Resources'].hasOwnProperty(metric)){
									var metricID = metric.substring(metric.indexOf(':')+1);
									if(metricID == dataID)
										serverResults.push(cache['SingularData']['System_Resources'][metric][0]);
								}
							}
							if(serverResults.length == 2){
								jobResult = Math.max(parseFloat(serverResults[0]),parseFloat(serverResults[1]));
							}
							else
								jobResult = parseFloat(serverResults[0]);
						}
						else{
							if(cache['SingularData'][type][dataID] != null)
								jobResult = parseFloat(cache['SingularData'][type][dataID][0]);
							else
								jobResult = -1;
						}
						var answer = jobResult + '';

						if(min <= jobResult && jobResult <= max){
							resultObj[displayMetric] = [answer, true];
						}
						else{
								
							if(jobResult == -1 || answer == 'NaN')
								answer = 'Not Configured';

							resultObj[displayMetric] = [answer, false];
							resultObj['overall'] = false;
						}
					}

				}
				return resultObj;
			}
			function getItems(jobName){
				var url = config.getTestMetrics + jobName;
				var resp = getRequest(url);
				if(resp == '')
					resp = '{"sla":{},"baseline":"-1"}';
				var value = JSON.parse(resp);
				baseID = value.baseline;
				return value;
			}
			
			function isEmpty(obj) {
			    for(var prop in obj) {
			        if(obj.hasOwnProperty(prop))
			            return false;
			    }

			    return true;
			}

			function fillPrevCache(){
				prevCache = getData(prevID);
				if(jobName == 'PERF_CI'){
					var perfDrop = document.getElementById('perfJob');
					var chosenPerfJob  = perfDrop.options[perfDrop.selectedIndex].value;
					prevCache = prevCache[chosenPerfJob];
				}
				trimCache(prevCache);
				removeServerNames(prevCache);

			}

			function fillBaseCache(){
				baseCache = getData(baseID);
				if(jobName == 'PERF_CI'){
					var perfDrop = document.getElementById('perfJob');
					var chosenPerfJob  = perfDrop.options[perfDrop.selectedIndex].value;
					jobName = chosenPerfJob;
					baseCache = getData(baseID);
					jobName = 'PERF_CI';
				}
				trimCache(baseCache);
				removeServerNames(baseCache);
			}

			function resetGraphs(){
				dropDown = document.getElementById('mainGDrop');
				var mainChosenServer  = dropDown.options[dropDown.selectedIndex].text +':';	
				dropDown = document.getElementById('otherGDropServer');
				var otherChosenServer  = dropDown.options[dropDown.selectedIndex].text +':';	
				dropDown = document.getElementById('otherGDropMetric');
				var otherChosenMetric = dropDown.options[dropDown.selectedIndex].text;	

				options = [{
					'description': ['Current CPU Util', 
									'Current Memory Util', 
									'Current Disk Util'],
					'data':[cache['GraphData'][mainChosenServer+ 'CPU_Util'],
							cache['GraphData'][mainChosenServer+ 'MEMORY_Util'],
							cache['GraphData'][mainChosenServer+ 'DISK_Util']],
					'baseline': null,
					'percentage': true,
					'autosize': false,
					'setWidth': -1,
					'currX': 0
				 },
				 {
					'description': ['Metric: ' + otherChosenMetric],
					'data':[cache['GraphData'][otherChosenServer+otherChosenMetric]],
					'baseline': null,
					'percentage': true,
					'autosize': false,
					'setWidth': -1,
					'currX': 0
				 }];


				for(var i=0; i < options.length; i++){						
					updateGraph('graph'+(i+1), options[i]);
				}
				resizeAllGraphs(options);
			}

		
			function compare(type){
				var buttonName, otherButton, compCache;
				if(type == 'prev'){
					buttonName = 'prevbutton';
					otherButton = 'basebutton';
					var dropDown = document.getElementById('prevNumber');
					prevID = dropDown.options[dropDown.selectedIndex].value;	
					fillPrevCache();
					compCache = prevCache;

				}
				else{
					buttonName = 'basebutton';
					otherButton = 'prevbutton';
					if(jobName != 'PERF_CI')
						baseID =  getItems(jobName).baseline;
					else{
						var perfDrop = document.getElementById('perfJob');
						var chosenPerfJob  = perfDrop.options[perfDrop.selectedIndex].value;
						baseID = getItems(chosenPerfJob).baseline;
					}
					document.getElementById('baselineNumber').innerHTML = '' + baseID;
					if(baseID != '-1'){
						document.getElementById('baseVersion').style.color = "cyan";
						fillBaseCache();
						compCache = baseCache;
					}
					else
						compCache = cache;

				}
				buildCompareGraphDropDown();
				if(document.getElementById(buttonName).value == 'ON')
				{
					document.getElementById(buttonName).value = 'OFF';
					for(var section in cache['SingularData'])
					{
						if(cache['SingularData'].hasOwnProperty(section))
						{		
							for(var compField in cache['SingularData'][section])
							{
								if(cache['SingularData'][section].hasOwnProperty(compField))
									document.getElementById('comp'+compField).innerHTML = ' ';
								
							}
						}
					}					
					compareChange();	
				}
			
				else{
					document.getElementById(otherButton).value = 'OFF';
					document.getElementById(buttonName).value = 'ON';
					

					for(var section in cache['SingularData']){
						if(cache['SingularData'].hasOwnProperty(section))
						{		
							for(var compField in cache['SingularData'][section]){
								if(cache['SingularData'][section].hasOwnProperty(compField) && compCache['SingularData'][section].hasOwnProperty(compField) && section != 'Summary'){
									//calculate difference (neg is good, pos is bad)
									var difference = parseFloat(cache['SingularData'][section][compField][0]) - parseFloat(compCache['SingularData'][section][compField][0]);
									//show difference
									if(difference < 0){ //green and +
										document.getElementById('comp'+compField).innerHTML = (' ' + trimNumber(difference));
										document.getElementById('comp'+compField).className = 'greenText compareText';
									}
									else if(document.getElementById('comp'+compField) == null){

									}
									else{//red and -
										document.getElementById('comp'+compField).innerHTML = (' +' + trimNumber(difference));
										document.getElementById('comp'+compField).className = 'redText compareText';
									}

								}
							}
						}
					}

					compareChange();
				}
			}
			function buildMainGraphDropDown(){
				serverNames = [];
				findServerNames();
				var dropDown = document.getElementById('mainGDrop');
				dropDown.innerHTML = '';
				for(var i=0; i < serverNames.length; i++){
						if(serverNames[i] == 0)
							dropDown.innerHTML += '<option value="'+i+'"selected="selected">'+serverNames[i]+'</option>';
						else
							dropDown.innerHTML += '<option>'+serverNames[i]+'</option>';
					
				}

			}
			function buildOtherGraphDropDown(){
				serverNames = [];
				findServerNames();
				var dropDown = document.getElementById('otherGDropServer');
				dropDown.innerHTML = '';
				for(var i=0; i < serverNames.length; i++){
						if(serverNames[i] == 0)
							dropDown.innerHTML += '<option value="'+i+'"selected="selected">'+serverNames[i]+'</option>';
						else
							dropDown.innerHTML += '<option>'+serverNames[i]+'</option>';
					
				}

				optionNames = [];
				for(var metric in cache.GraphData){
					if(cache.GraphData.hasOwnProperty(metric)){
						var name = metric.substring(metric.indexOf(':')+1);
						var found = false;
						if(optionNames.length == 0){
							optionNames[optionNames.length] = name;
						}
						for(var i=0; i<optionNames.length; i++){
							if(optionNames[i] == name){
								found = true;
							}
						}
						if(found == false){
							optionNames[optionNames.length] = name;
						}
					}
				}				


				var dropDown = document.getElementById('otherGDropMetric');
				dropDown.innerHTML = '';
				for(var i=0; i < optionNames.length; i++){
						if(optionNames[i] == 0)
							dropDown.innerHTML += '<option value="'+i+'"selected="selected">'+optionNames[i]+'</option>';
						else
							dropDown.innerHTML += '<option>'+optionNames[i]+'</option>';
					
				}

			}
			function buildCompareGraphDropDown(){
				serverNames = [];
				findServerNames();
				var dropDown = document.getElementById('compareGDropServer');
				dropDown.innerHTML = '';
				for(var i=0; i < serverNames.length; i++){
						if(serverNames[i] == 0)
							dropDown.innerHTML += '<option value="'+i+'"selected="selected">'+serverNames[i]+'</option>';
						else
							dropDown.innerHTML += '<option>'+serverNames[i]+'</option>';
					
				}

				optionNames = [];
				for(var metric in cache.GraphData){
					if(cache.GraphData.hasOwnProperty(metric) && (isEmpty(prevCache) || prevCache.GraphData.hasOwnProperty(metric) )){
						var name = metric.substring(metric.indexOf(':')+1);
						var found = false;
						if(optionNames.length == 0){
							optionNames[optionNames.length] = name;
						}
						for(var i=0; i<optionNames.length; i++){
							if(optionNames[i] == name){
								found = true;
							}
						}
						if(found == false){
							optionNames[optionNames.length] = name;
						}
					}
				}				


				var dropDown = document.getElementById('compareGDropMetric');
				dropDown.innerHTML = '';
				for(var i=0; i < optionNames.length; i++){
						if(optionNames[i] == 0)
							dropDown.innerHTML += '<option value="'+i+'"selected="selected">'+optionNames[i]+'</option>';
						else
							dropDown.innerHTML += '<option>'+optionNames[i]+'</option>';
					
				}

			}
			function fillPage(){

				fillBox('summary');
				fillBox('testMetrics');
				fillBox('sysMetrics');
				fillBox('jvmMetrics');

								
				
				var sla = slaResults();

				if(isEmpty(testObject.sla) == true){
					document.getElementById('slaPass').innerHTML = 'Not Configured';
					document.getElementById('slaPass').className = 'grayText';
				}
				else if(sla['overall'] == false){
					document.getElementById('slaPass').innerHTML = 'Failed';
					document.getElementById('slaPass').className = 'redText';
				}
				else if(sla['overall'] == true){
					document.getElementById('slaPass').innerHTML = 'Passed';
					document.getElementById('slaPass').className = 'greenText';
				}
							

				var slaData = document.getElementById('slaDataResults');
				slaData.innerHTML = '';
				for(var metric in sla){
					if(metric != 'overall'){
						var colorOfResult = 'greenText';
						if(sla[metric][1] == false)
							colorOfResult = 'redText';
						slaData.innerHTML+= metric+ ' ';
						slaData.innerHTML+= '<span class=' + colorOfResult + '>' + sla[metric][0] + '</span>';
						slaData.innerHTML+='<br>';
					}
				}

				if(baseCache['SingularData']['Summary']['Version'] != null){
					document.getElementById('baseVersion').innerHTML = baseCache['SingularData']['Summary']['Version'];
				}							
				else{
					document.getElementById('baseVersion').innerHTML = 'NaN';
				}
				/*
					options = {
						    'description': 'nameOfLine1, nameOfLine2, nameOfLine3'
							'data': [[line1...],[line2...],[line3...]]
							'baseline': [line...]
							'percentage': true/false
							}

				*/
				
				for(var i=0; i < options.length; i++){
					updateGraph('graph'+(i+1), options[i]);
				}

			}
			function trimNumber(num){
				var str = '' + num;
				if(str.indexOf('0.') == 0){
					str = str.substring(0, 5);
				}
				else if(str.indexOf('.')>=0){
					str=str.substring(0, str.indexOf('.') + 3);
				}
				return str;
			}
			function trimCache(trim){
				for(var section in trim['SingularData']){
					if(trim['SingularData'].hasOwnProperty(section) && section != 'Summary'){
						for(var metric in trim['SingularData'][section]){
							if(trim['SingularData'][section].hasOwnProperty(metric)){
								trim['SingularData'][section][metric][0] = trimNumber(trim['SingularData'][section][metric][0]);
							}
						}
					}
				}

			}
			function compareChange(){
				
				var prevStatus = document.getElementById('prevbutton').value;
				var baseStatus = document.getElementById('basebutton').value;

				var dropDown = document.getElementById('compareGDropServer');
				var compareChosenServer  = dropDown.options[dropDown.selectedIndex].text+':';	
				dropDown = document.getElementById('compareGDropMetric');
				var compareChosenMetric = dropDown.options[dropDown.selectedIndex].text;

				if(options[1]['data'].length > 1){
					options[1]['data'].pop();
					options[1]['description'].pop();
				}

				if(prevStatus == 'ON'){
					options[1]['data'][options[1]['data'].length] = prevCache['GraphData'][compareChosenServer + compareChosenMetric];
					options[1]['description'][options[1]['description'].length] = 'Metric: (Selected) ' + compareChosenMetric;
					
					
				}
				else if(baseStatus == 'ON'){
					options[1]['data'][options[1]['data'].length] = baseCache['GraphData'][compareChosenServer + compareChosenMetric];
					options[1]['description'][options[1]['description'].length] = 'Metric: (Base) ' + compareChosenMetric;
					
				}

				for(var i=0; i < options.length; i++)
				{						
						updateGraph('graph'+(i+1), options[i]);
				}

				
			}
			function initializePage(){
				document.getElementById('jobTitle').innerHTML = jobName;
				buildDropDown('buildNumber');
				buildDropDown('prevNumber');
				if(jobName == 'PERF_CI'){	

					document.getElementById('perfCI').innerHTML ='<select class="select-style" style="font-size: xx-large;" id="perfJob" onchange="updatePage(&quot;subchange&quot;)"></select>';
					var dropDown = document.getElementById('buildNumber');
					var buildNumber = dropDown.options[dropDown.selectedIndex].value;
					perfCache = JSON.parse(getRequest(config.getParsedData + 'PERF_CI&id=' + buildNumber));
					var perfDrop = document.getElementById('perfJob');
					var chosenPerfJob = ''
					for(var subJob in perfCache){
						if(perfCache.hasOwnProperty(subJob)){
							if(chosenPerfJob == '')
								chosenPerfJob = subJob;
							perfDrop.innerHTML += '<option value="'+subJob+'">'+subJob+'</option>';
						}
					}
					cache = perfCache[chosenPerfJob];
					document.getElementById('setAsBase').innerHTML = '';
					updatePage('subchange');
				}
				else{
					updatePage('');
				}

				

				for(var i=0; i < options.length; i++){
				 	var element = document.getElementById('graph'+(i+1));
				 	element.gIndex = i;
				 	element.addEventListener("mousewheel", zoom, false);
				 	element.addEventListener('mousemove', drag, false);
					element.addEventListener('mousedown', isDown, false);
					element.addEventListener('mouseup', isUp, false);
				 	
				 	
				 }				
			}
			function stopScroll(){

			}

			function removeServerNames(typeOfCache){

				var foundNames = [];

				for(var server in typeOfCache.GraphData){
					if(typeOfCache.GraphData.hasOwnProperty(server)){
						var name = server.substring(0, server.indexOf(':'));
						if(foundNames.length == 0){
							foundNames[foundNames.length] = name;
						}
						else if(foundNames[foundNames.length-1] != name){
							foundNames[foundNames.length] = name;
						}
					}
				}	

				for(var metric in typeOfCache['SingularData']['System_Resources']){
					if(typeOfCache['SingularData']['System_Resources'].hasOwnProperty(metric)){
						var currentName = metric.substring(0, metric.indexOf(':'));
						var currentType = metric.substring(metric.indexOf(':')+1);
						for(var i=0; i<foundNames.length; i++){
							if(currentName == foundNames[i]){
								typeOfCache['SingularData']['System_Resources']['Server ' +(i+1)+':'+currentType] = typeOfCache['SingularData']['System_Resources'][metric];
								delete typeOfCache['SingularData']['System_Resources'][metric];
							}


						}
					}
				}

				for(var metric in typeOfCache['GraphData']){
					if(typeOfCache['GraphData'].hasOwnProperty(metric)){
						var currentName = metric.substring(0, metric.indexOf(':'));
						var currentType = metric.substring(metric.indexOf(':')+1);
						for(var i=0; i<foundNames.length; i++){


							if(currentName == foundNames[i]){
								typeOfCache['GraphData']['Server ' +(i+1)+':'+currentType] = typeOfCache['GraphData'][metric];
								delete typeOfCache['GraphData'][metric];
							}
						}
					}
				}
			}

			function updatePage(type){
				serverNames = [];
				findServerNames();
				var dropDown = document.getElementById('buildNumber');
				var buildNumber = dropDown.options[dropDown.selectedIndex].value;
				optionalID = dropDown.options[dropDown.selectedIndex].value;

				buildDropDown('buildNumber');
				buildDropDown('prevNumber');
				
				chosenID = dropDown.options[dropDown.selectedIndex].value;
				

				

				if(type == 'perfcibuild' && jobName == 'PERF_CI'){	
					perfCache = JSON.parse(getRequest(config.getParsedData + 'PERF_CI&id=' + buildNumber));
					var perfDrop = document.getElementById('perfJob');
					perfDrop.innerHTML = '';
					var chosenPerfJob = '';
					for(var subJob in perfCache){
						if(perfCache.hasOwnProperty(subJob)){
							if(chosenPerfJob == '')
								chosenPerfJob = subJob;
							perfDrop.innerHTML += '<option value="'+subJob+'">'+subJob+'</option>';
						}
					}
					testObject = getItems(chosenPerfJob);
					document.getElementById('slaLinkToEdit').href = config.update + chosenPerfJob;
				}
				else if(type == 'subchange' && jobName == 'PERF_CI'){
					var perfDrop = document.getElementById('perfJob');
					var chosenPerfJob  = perfDrop.options[perfDrop.selectedIndex].value;
					testObject = getItems(chosenPerfJob);
					document.getElementById('slaLinkToEdit').href = config.update + chosenPerfJob;
				}
				else{
					testObject = getItems(jobName);	
					document.getElementById('slaLinkToEdit').href = config.update + jobName;
				}
				baseID = testObject.baseline;
				document.getElementById('baselineNumber').innerHTML = '' + baseID;
				fillCache();
				fillBaseCache();
				var prevButton = document.getElementById("prevbutton");
				var baseButton = document.getElementById("basebutton");
				
				removeServerNames(cache);
				buildMainGraphDropDown();
				buildOtherGraphDropDown();	
				buildCompareGraphDropDown();

				dropDown = document.getElementById('mainGDrop');
				var mainChosenServer  = dropDown.options[dropDown.selectedIndex].text +':';	
				dropDown = document.getElementById('otherGDropServer');
				var otherChosenServer  = dropDown.options[dropDown.selectedIndex].text +':';	
				dropDown = document.getElementById('otherGDropMetric');
				var otherChosenMetric = dropDown.options[dropDown.selectedIndex].text;	

				options = [{
					'description': ['Current CPU Util', 
									'Current Memory Util', 
									'Current Disk Util'],
					'data':[cache['GraphData'][mainChosenServer+ 'CPU_Util'],
							cache['GraphData'][mainChosenServer+ 'MEMORY_Util'],
							cache['GraphData'][mainChosenServer+ 'DISK_Util']],
					'baseline': null,
					'percentage': true,
					'autosize': false,
					'setWidth': -1,
					'currX': 0
				 },
				 {
					'description': ['Metric: ' + otherChosenMetric],
					'data':[cache['GraphData'][otherChosenServer+otherChosenMetric]],
					'baseline': null,
					'percentage': true,
					'autosize': false,
					'setWidth': -1,
					'currX': 0
				 }];
				if(prevButton.value == 'OFF')
					prevButton.click();
				else{
					prevButton.click();
					prevButton.click();
				}
				if(baseButton.value == 'ON')
					baseButton.click();
//				removeServerNames(cache);
				fillPage();
				resizeAllGraphs(options);
			}
			function resizeAllGraphs(optionsArray){
				var x =window.innerWidth*.7,
				    y =window.innerHeight*.7;
				for(var line=0; line < optionsArray.length; line++){
					resizeCanvas('graph' + (line+1), x, y, optionsArray[line]);
				}
			}
			function selectedMetricChange(){
				var prevButton = document.getElementById('prevbutton');
				if(prevButton.value == 'ON'){
					compare('prev');
					prevButton.click();
				}
			}
			function resizeEasy(){
				resizeAllGraphs(options);
			}
			function setThisToBaseline(){
				var url = config.updateBaseline + jobName +'&id=' + chosenID;
				document.getElementById('baselineNumber').innerHTML = '' + chosenID;
				getRequest(url);
				baseID = chosenID;
				fillBaseCache();
				if(baseCache['SingularData']['Summary']['Version'] != null){
					document.getElementById('baseVersion').innerHTML = baseCache['SingularData']['Summary']['Version'];
				}							
				else{
					document.getElementById('baseVersion').innerHTML = 'NaN';
				}
			}

			function convertCanvasToImage(canvas) {
				var image = new Image();
				image.src = canvas.toDataURL("image/png");
				return image;
			}

			function print(){
				var printerFriendlyHTML = "<link href='public/styles/printFriend.css' rel='stylesheet'type='text/css'>"
				var content = document.getElementById('content');
				var graphImage1 = convertCanvasToImage(document.getElementById('graph1'));
				var graphImage2 = convertCanvasToImage(document.getElementById('graph2'));
				document.getElementById('graph1').remove();
				document.getElementById('graph2').remove();
				var img1 = document.getElementById('graph1Img')
				var img2 = document.getElementById('graph2Img')
				img1.src = graphImage1.src;
				img2.src = graphImage2.src;
				img1.style.width = '70%';
				img2.style.width = '70%';
				printerFriendlyHTML += content.innerHTML;
				document.write(printerFriendlyHTML);
			}
		</script>
	</head>
	<body onresize="resizeEasy()">
		<div id= "pagewrapper">
			<div id="heading" class="mule">
				<img src="views/sources/mulesoft-logo.png" id="ml"alt="MuleLogo" width = '340px' height='120px'>

				<p id="logo"> Performance Analyzer</p>
			</div>
			<div id="menu" class="mule">
				<p id='menuHeading'><u><b>Menu</b></u></p><br>
				<p class = 'menuItems'> <a href="/">Home</a></p>
				<p class = 'menuItems'> <a href="/logout">Logout</a></p>
			</div>
			<div id='content' >

				<div id='contentDisplay'>
					<p><b>Hudson Job:</b> <span id='jobTitle'></span></p>
					<div id='jobInfo' class='mule'>
						<p id='buildDropDownTitle'>Build:</p>
						<form id='buildDropDown'action="">
							<select id="buildNumber" class='select-style' onchange="updatePage('perfcibuild')">
							</select>
						</form>

						<form id='perfCI'action="">
						</form>
						<p id='summary'></p>
						
						<p id='setAsBase'>Set this run as the base line: <input type='button' value='YES' onclick='setThisToBaseline()'></p>

						<p id='setAsBase'>Print this run: <input type='button' value='PRINT' onclick='print()'></p>

					</div>
				</div>
				<div id='keyMetrics'> <!--XXX -->
					<p>Key Metrics</p>
					<div id='testBox' class="infoMule">
						<div class='showscroller'>
						<p class='keyTitle'>Test Results</p>
						<p id='testMetrics'>
							
						</p>
						</div>
					</div>
					<div id='systemBox' class="infoMule">
						<div id='showscrollerbox' class='showscroller'>
							<p class='keyTitle'>System Resources</p>
							<div id='sysTitles' style='float: left;width: 100%;'>
								<span id='sysTitle1' style='width: 40%;float: left;margin-left: 23px;'></span>
								<span id='sysTitle2' style='width: 40%;float: left;margin-left: 30px;'></span>
							</div>
							<div style='clear: both'></div>
							<hr>
							<div id='sysMetricsBox1'>
								<p id='sysMetrics1'></p>
							</div>
						</div>
					</div>
					
					<div id='jvmBox'class="infoMule">
						<div class='showscroller'>
						<p class='keyTitle'>JVM </p>
						<p id='jvmMetrics'>
							Avg CPU Use:  <span id='' class='keyMetricResults'>---</span><br>							
						</p>
						</div>
					</div>
				</div>
				<p>Comparisons</p>
					
					<div id='compareBlock' class="mule">
						<div id='slaSection'>
							<p class='keyTitle' onclick="showHide(0)"><span id='plus0'>+</span> SLA Check: <span id='slaPass' class='greenText'> Passed</span>  <a class="editSLA" id='slaLinkToEdit' href=''>Edit</a> </p>
							<div id='slaResults'>
								<p id='slaDataResults' class='dataResults'>									
								</p>
								
							</div>
						</div>
						<div id='prevSection'>
							<span id='prevTitle' class='keyTitle' onclick="showHide(1)"><span id='plus1'>+</span> Select a run to be compared: </span>
							<form id='buildPrevDropDown'action="" onchange="selectedMetricChange()" >
								<select id="prevNumber" class='select-style' onchange="">
								</select>
								<input id='prevbutton' type='button' value='OFF' onclick='compare("prev")'>
							</form>
						</div>
						<div id='baseSection' >
							<span id='baseTitle' class='keyTitle' onclick="showHide(2)"><span id='plus2'>+</span> Compared to basline:  Run #<span id='baselineNumber'></span> &#47;&#47; Mule Version: <span id='baseVersion'> 3.5.1 </span></span>
							<form>								
								<input id='basebutton' type='button' value='OFF' onclick='compare("base")'>
							</form>
						</div>
					</div>
				
				<div id='graphArea'>
						<p>Graph Plots</p>
					<div class='graphs'>
						<div class='graphContent'>
							CPU/Memory/Disk Graph<br>

							<form id='mainGDropForm'action="">
								<span class='inGraphText'>Choose your server: </span><select id="mainGDrop" class='select-style' onchange="reloadGraphs();compareChange()">
								</select>
							</form>

							<canvas id='graph1' width='950' height='500' > 
							</canvas>
							<img id='graph1Img' src="" width='0'>
							<br>
							Other Metrics Graph<br>
							<form action="" style='float: left'>
								<span class='inGraphText'>Choose your server and metric: </span><select id="otherGDropServer" class='select-style' onchange="reloadGraphs();compareChange()">
								</select>
							</form>							
							<form action="">
								<select id="otherGDropMetric" class='select-style' onchange="reloadGraphs();compareChange()">
								</select>
							</form>
							<br>
							<form action="" style='float: left'>
								<span class='inGraphText'>Choose the <span class='cyanText'>selected</span> run's server and metric: </span><select id="compareGDropServer" class='select-style' onchange="reloadGraphs();compareChange()">
								</select>
							</form>	
							<form action="">
								<select id="compareGDropMetric" class='select-style' onchange="reloadGraphs();compareChange()">
								</select>
							</form>
							<canvas id='graph2' width='950' height='500' > 
							</canvas>
							<br>
							<img id='graph2Img' src="" width='0'>
							<br>							
						</div>
					</div>
				</div>
			</div>

		</div>
		<script>
			initializePage();
		</script>
	</body>

</html>
