<!DOCTYPE html>
<html>
<head>
	<title>TESTING</title>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<link href='muleStyle.css' type='text/css' rel='stylesheet'>
	
</head>
<body>

<div id= "pagewrapper">
	<div id="heading" class="mule">
		<img src="./sources/mulesoft-logo.png" id="ml"alt="MuleLogo" width = '340px' height='120px'>

		<p id="logo"> Performance Analyzer</p>
	</div>
	<div id="menu" class="mule">
		<p id='menuHeading'><u><b>Menu</b></u></p><br>
		<p class = 'menuItems'> <a href="/">Home</a></p>
		<p class = 'menuItems'> <a href="/about">About</a></p>

	</div>
	<div id='content'>
		<p id = 'contentTitle'>Job List:</p>
		<div id="jobs">	
			<ul id="list">
				
			</ul>
		</div>	
	</div>



</div>

<body>



</html>