<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link href='public/styles/muleStyle.css' rel='stylesheet'type='text/css'>

		<script src="../config.js"></script>
		<script type="text/javascript">
			var jobName = getQueryVariable('job');
			var id = getQueryVariable('id');
			var items;
			var dropDownOptions = [];

			Object.prototype.getKeyByValue = function( value ) {
			    for( var prop in this ) {
			        if( this.hasOwnProperty( prop ) ) {
			             if( this[ prop ] === value )
			                 return prop;
			        }
			    }
			}

			function getData(idNum){
				var job = jobName;								
				var url = config.getParsedData + jobName + '&id=' + idNum;
					
				var str = getRequest(url);
				
				var data = JSON.parse(str);
				return data;			
			}
			function inititalizeDDO(){
				dropDownOptions = JSON.parse(getRequest(config.getTestOptions))['options'];
			}
			function display(str){
				var displayName = '';
				if(str.indexOf('.com') >= 0){
					var type = str.substring(str.indexOf(':')+1, str.length);
					var server = 'Server '+ str.substring(13,14) + ' ' ;
					displayName = server +type;
					displayName = displayName.replace(/_/g, ' ');
					return displayName;
				}else if( str.indexOf(':') < str.length-2){
					var server = str.substring(0, str.indexOf(':'));
					var type = str.substring(str.indexOf(':')+1, str.length);
					displayName = server +' '+type;
					displayName = displayName.replace(/_/g, ' ');
					return displayName;
				}
				else{
					displayName = str.replace(/_/g, ' ');
					return displayName;
				}
			}
			

			function updateDropDowns(){
				var dropDown = document.getElementById('checkList');
				
				for(var i=0; i<dropDownOptions.length; i++){						
					dropDown.innerHTML += '<option value="'+dropDownOptions[i]+'">'+display(dropDownOptions[i])+'</option>';
				}
				dropDown = document.getElementById('delList');
				for(var i=0; i<dropDownOptions.length; i++){						
					dropDown.innerHTML += '<option value="'+dropDownOptions[i]+'">'+display(dropDownOptions[i])+'</option>';
				}

			}
			function getRequest(url){
				var request = new XMLHttpRequest();
				request.open("GET", url, false);
				request.send(null);
				return request.responseText;
			}

			function getQueryVariable(variable) {
			    var query = window.location.search.substring(1);
			    var vars = query.split('&');
			    for (var i = 0; i < vars.length; i++) {
			        var pair = vars[i].split('=');
			        if (decodeURIComponent(pair[0]) == variable) {
			            return decodeURIComponent(pair[1]);
			        }
			    }
			    return 'UNDEFINED';
			}

			function getItems(){
				var url = config.getTestMetrics + jobName;
				var resp = getRequest(url);
				items = JSON.parse(resp);
			}

			function showItems(section, jsonObj){
				var sectionDiv = document.getElementById(section+'ItemValues');
				sectionDiv.innerHTML = '';
				for(var key in jsonObj){
					if(key != 'getKeyByValue'){
						var deleteLink = key.replace(' ', '+');
						var deleteLink = deleteLink.replace('%20', '+');
						
						var metric = display(key);
						sectionDiv.innerHTML += '<span class="nameCurrMetric">'+ metric + '</span>'+ 
												'<span class="minCurrMetric">'+ jsonObj[key][0] + '</span>'+
												'<span class="maxCurrMetric">'+ jsonObj[key][1] + '</span>'+
												'<a class="deleteMetric" href="'+config.deleteJobTest +jobName+'&metric='+deleteLink+'">Delete</a><br>';
					}
				}
			}

			function postRequest(section){
				if(section == 'sla'){
					var action = config.putJobTest+jobName;
					var form = document.getElementById(section+ 'Form');
					form.action = action;
				}
				else if(section =='add'){
					var action = config.addTestOption+jobName;
					var form = document.getElementById(section+ 'Form');
					form.action = action;
				}
				else if(section =='del'){
					var action = config.deleteTestOption+jobName;
					var form = document.getElementById(section+ 'Form');
					form.action = action;
				}
			}

			function initialize(){
				inititalizeDDO();
				updateDropDowns();
				getItems();
				showItems('sla', items['sla']);
				
			}

		</script>
	</head>
	<body>
		<div id= "pagewrapper">
			<div id="heading" class="mule">
				<img src="views/sources/mulesoft-logo.png" id="ml"alt="MuleLogo" width = '340px' height='120px'>

				<p id="logo"> Performance Analyzer</p>
			</div>
			<div id="menu" class="mule">
				<p id='menuHeading'><u><b>Menu</b></u></p><br>
				<p class = 'menuItems'> <a href="/">Home</a></p>
				<p class = 'menuItems'> <a href="/about">About</a></p>
			</div>
			<div id='content'>
				<div id='slaBox'>
					<p>Update "SLA" Check</p>
					<div class='updateBox'>
						<p class='currTitle'>Current Metrics</p>
						<hr>
						<div id='slaItems' class='updateItems'>
							<div class='metricDescriptions'>
							<span class="nameCurrMetric">Name</span>
							<span class="minCurrMetric">Minimum</span>
							<span class="maxCurrMetric">Maximum</span><br>
							</div>
							<div id='slaItemValues'>
							</div>
						</div>
						<hr>
						<form id='slaForm' class='updateCheckForm' method='post' onsubmit='postRequest("sla")'>
							<select id="checkList"  style='font-size: 16px' name="checkList">							
							</select>
							<input type="text" name="min">
							<input type="text" name="max">
							<input type="submit" value="Submit"><br>
						</form>
					</div>
				</div>
				<p> Add New "SLA" Metric </p>
				<div id='addNewMetricBox' class= "updateBox">

					<form id='addForm' method='post' onsubmit='postRequest("add")'>
							<p class='currTitle' style='margin-left:0px'>Not happy with the current SLA list? Feel free to edit the global list from here!</p>
							<hr id='hrAdd'>
							<p class='currTitle' style='margin-left:0px'>Choose your metric "Type" and type the name to add a new option</p>
							<select id="addList" style='font-size: 16px'  name="addList">
								<option value="Test Results">Test Results</option>	
								<option value="System Resources">System Resources</option>	
								<option value="JVM">JVM</option>				
							</select>
							<input type="text" name="metric">
							<input type="submit" value="Add"><br>
					</form>

					<form id='delForm' method='post' onsubmit='postRequest("del")'>
							<p class='currTitle' style='margin-left:0px'>Here you can delete a metric option from the global list</p>
							<select id="delList" style='font-size: 16px' name="delList">
							</select>
							<input type="submit" value="Delete"><br>
					</form>
				</div>
				
			</div>
		</div>
		<script type="text/javascript">
			initialize();
		</script>
	</body>

</html>
