<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link href='public/styles/muleStyle.css' rel='stylesheet'type='text/css'>

		<script src="../config.js"></script>
		<script type="text/javascript">
			var jobName = getQueryVariable('job');
			var items;
			var dropDownOptions = {
										 'CPU: Used': 'cpu use ',										
										 'CPU: IO Wait': 'cpu iowait ',
										 'CPU: Steal': 'cpu steal ',

										 'Memory: Used':'mem use ',
							 		     'Memory: KB Cache':'mem kbcache ',
										 'Memory: KB Buffers': 'mem kbbuffers ',
							         							  	      
										 'Disk: Used': 'disk util ',
										 'Disk: Await': 'disk await ',
										 'Disk: TPS':'disk tps ',
										 'Disk: RD_Sec': 'disk rd_sec ',
										 'Disk: WR_Sec':'disk wr_sec ',
							  		  
										 'Network: Used':'network used ',
							  			 'Network: TxkB':'network txkB ', 
										 'Network: RxkB':'network rxkB ',
							  		  
										 'Paging: Pgpgin': 'paging pgpgin ',
										 'Paging: Pgpgout':'paging pgpgout ',
										 'Paging: Fault':'paging fault ',
										 'Paging: Maj. Fault':'paging majflt ',				            
										 'Paging: PG Free':'paging pgfree ',
										 'Paging: PG Scank':'paging pgscank ',
										 'Paging: PG Scand':'paging pgscand ',
										 'Paging: PG Steal':'paging pgsteal ',
										 'Paging: VMEF':'paging vmef ',
							  		  
										 'Swap: In':'swap in ',
										 'Swap: Out':'swap out '
			};

			Object.prototype.getKeyByValue = function( value ) {
			    for( var prop in this ) {
			        if( this.hasOwnProperty( prop ) ) {
			             if( this[ prop ] === value )
			                 return prop;
			        }
			    }
			}


			

			function updateDropDowns(){
				var dropDown = document.getElementsByName('checkList');

				for(var i=0; i < dropDown.length; i++){
					for(var key in dropDownOptions){	
						if(dropDownOptions.hasOwnProperty(key)){
							dropDown[i].innerHTML += '<option value="'+dropDownOptions[key]+'">'+key+'</option>';
						}
					}
				}
			}
			function getRequest(url){
				var request = new XMLHttpRequest();
				request.open("GET", url, false);
				request.send(null);
				return request.responseText;
			}

			function getQueryVariable(variable) {
			    var query = window.location.search.substring(1);
			    var vars = query.split('&');
			    for (var i = 0; i < vars.length; i++) {
			        var pair = vars[i].split('=');
			        if (decodeURIComponent(pair[0]) == variable) {
			            return decodeURIComponent(pair[1]);
			        }
			    }
			    return 'UNDEFINED';
			}

			function getItems(){
				var url = config.getTestMetrics + jobName;
				var resp = getRequest(url);
				items = JSON.parse(resp);
			}

			function showItems(section, jsonObj){
				var sectionDiv = document.getElementById(section+'ItemValues');
				sectionDiv.innerHTML = '';
				for(var key in jsonObj){
					if(key != 'getKeyByValue'){
						var deleteLink = key.replace(' ', '+');
						var deleteLink = deleteLink.replace('%20', '+');
						var metricModifier = key.substring(key.length-4, key.length-1).toUpperCase();
						var metric =dropDownOptions.getKeyByValue(key.substring(0, key.length-4)) + ' (' + metricModifier +')';
						sectionDiv.innerHTML += '<span class="nameCurrMetric">'+ metric + '</span>'+ 
												'<span class="minCurrMetric">'+ jsonObj[key][0] + '</span>'+
												'<span class="maxCurrMetric">'+ jsonObj[key][1] + '</span>'+
												'<a class="deleteMetric" href="'+config.deleteJobTest +jobName+'&type='+section+'&metric='+deleteLink+'">Delete</a><br>';
					}
				}
			}

			function postRequest(section){
				var action = config.putJobTest+jobName+'&type='+section;
				var form = document.getElementById(section+ 'Form');
				form.action = action;

				
			}

			function initialize(){
				updateDropDowns();
				getItems();
				showItems('sla', items['sla']);
				showItems('prev', items['prev']);
				showItems('base', items['base']);
			}

		</script>
	</head>
	<body>
		<div id= "pagewrapper">
			<div id="heading" class="mule">
				<img src="sources/mulesoft-logo.png" id="ml"alt="MuleLogo" width = '340px' height='120px'>

				<p id="logo"> Performance Analyzer</p>
			</div>
			<div id="menu" class="mule">
				<p id='menuHeading'><u><b>Menu</b></u></p><br>
				<p class = 'menuItems'> <a href="/">Home</a></p>
				<p class = 'menuItems'> <a href="/about">About</a></p>
			</div>
			<div id='content'>
				<div id='slaBox'>
					<p>Update "SLA" Check</p>
					<div class='updateBox'>
						<p class='currTitle'>Current Metrics</p>
						<hr>
						<div id='slaItems' class='updateItems'>
							<div class='metricDescriptions'>
							<span class="nameCurrMetric">Name</span>
							<span class="minCurrMetric">Minimum</span>
							<span class="maxCurrMetric">Maximum</span><br>
							</div>
							<div id='slaItemValues'>
							</div>
						</div>
						<hr>
						<form id='slaForm' class='updateCheckForm' method='post' onsubmit='postRequest("sla")'>
							<select name="checkList">							
							</select>
							<input type="text" name="min">
							<input type="text" name="max">
							<input type="submit" value="Submit"><br>
							<input type="radio" name="modifier" value="avg" checked>Average
							<input type="radio" name="modifier" value="90%">90th Percentile
							<input type="radio" name="modifier" value="99%">99th Percentile
						</form>
					</div>
				</div>
				<div id='prevBox'>
					<p>Update "Previous" Check</p>
					<div class='updateBox'>
						<p class='currTitle'>Current Metrics</p>
						<hr>
						<div id='prevItems' class='updateItems'>
							<div class='metricDescriptions'>
							<span class="nameCurrMetric">Name</span>
							<span class="minCurrMetric">Minimum</span>
							<span class="maxCurrMetric">Maximum</span><br>
							</div>
							<div id='prevItemValues'>
							</div>
						</div>
						<hr>
						<form id='prevForm' class='updateCheckForm'  method='post' onsubmit='postRequest("prev")'>
							<select name="checkList">
							</select>
							<input type="text" name="min">
							<input type="text" name="max">
							<input type="submit" value="Submit"><br>
							<input type="radio" name="modifier" value="avg" checked>Average
							<input type="radio" name="modifier" value="90%">90th Percentile
							<input type="radio" name="modifier" value="99%">99th Percentile
						</form>
					</div>

				</div>
				<div id='baseBox'>
					<p>Update "Baseline" Check</p>
					<div class='updateBox'>
						<p class='currTitle'>Current Metrics</p>
						<hr>
						<div id='baseItems' class='updateItems'>
							<div class='metricDescriptions'>
							<span class="nameCurrMetric">Name</span>
							<span class="minCurrMetric">Minimum</span>
							<span class="maxCurrMetric">Maximum</span><br>
							</div>
							<div id='baseItemValues'>
							</div>
						</div>
						<hr>
						<form id='baseForm' class='updateCheckForm' method='post' onsubmit='postRequest("base")'>
							<select name="checkList">							
							</select>
							<input type="text" name="min">
							<input type="text" name="max">
							<input type="submit" value="Submit"><br>
							<input type="radio" name="modifier" value="avg" checked>Average
							<input type="radio" name="modifier" value="90%">90th Percentile
							<input type="radio" name="modifier" value="99%">99th Percentile							
						</form>
					</div>

				</div>
			</div>
		</div>
		<script type="text/javascript">
			initialize();
		</script>
	</body>

</html>
