html{
	position: relative;
	width:1500px;
	margin: 50px 0px;
	overflow-x: hidden; 
	
}

body{
		position: relative;
		margin: 0 auto;
	    overflow-x: hidden; 
	    overflow-y: auto;
	    max-height: 1000px;
		
		background-color: #4F4F4F ;
		background-image: none;
		background-repeat: repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
		background-clip: border-box;
		background-origin: padding-box;
		background-size: auto auto;

	}
	canvas{
		border-radius: 20px;
		border: 3px black solid;
		box-shadow: 5px 5px 5px #5F5F5F;
	}
	#pagewrapper{
		font: 20px/1.4 sans-serif;
		width: 1400px;
		
		font-family: 'Josefin Sans', sans-serif;
		margin-left: auto;
		margin-right: auto;
	}
	p,pre{
		font-family: 'Josefin Sans', sans-serif;
		width:700px;
		color: white;

	}
	.mule{
		background-color: black;
		border-radius: 25px;
		border: 2px #FFF solid;
		box-shadow: 5px 5px 5px #5F5F5F;
	}
	a{
		color:cyan;
	}
	.button{
		color:black;
	}
	a:hover{
		color:white;

	}
	
	#heading{
		position: relative;
		height: 150px;
		width:1300;
		
	}

	#menu{
		width:220px;
		height:800px;
		position: relative;
		top:10px;
	}
	#ml{
		position: relative;
		left: 10px;

	}
	#menuHeading{
		position: relative;
		left: 15px;
		width:200px;
		font-size: 30px;

	}

	#logo{
		font-size: 40px;
		position: relative;
		left: 490px;
		top: -90px;
		width: 700px;
	}
	
	#compareList{
		position: absolute;
		left:315px;
		top: 62px;
		width:300px;
		max-height:300px;
		overflow:auto;
		background-color: black;
		border-radius: 25px;
		border: 2px #FFF solid;
		text-align: 10px;
		box-shadow: 5px 5px 5px #5F5F5F;
	}
	#baseList{
		position: absolute;
		left:630px;
		top: 62px;
		width:300px;
		max-height:300px;
		overflow:auto;
		background-color: black;
		border-radius: 25px;
		border: 2px #FFF solid;
		box-shadow: 5px 5px 5px #5F5F5F;
	}

	.menuItems{
		position: relative;
		left: 30px;
		top:-65px;
		color: cyan;
		width:200px;
	}
	#cButton{
		position: relative;
		left: 30px;
		top:-65px;
		color:white;
	}
	#directions{
		width: 800px;
	}

	#list{
		position: relative;
		top: -35px;	
		max-height:705px;
		max-width: 400px;
		overflow-x: hidden; 
	    overflow-y: auto;
		background-color: black;
		border-radius: 25px;
		border: 2px #FFF solid;
		box-shadow: 5px 5px 5px #5F5F5F;
	}

	#footer{
		position: relative;
    	top: -250px;
	    width: 1300px;
	    height: 35px;
		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
		color: white;
	}

	#content{
		position: relative;
		left:300px;
		top: -800px;
		color:cyan;
	}
	#contentTitle{
		font-size: 40px;
	}
	.tiny{
		width:200px;
	}
	#options{
		position: relative;
		left:1150px;
		top:65px;
		width:200px;
	}
	canvas{
		background-color: white;
	}
	#graphContent{
		position: relative;
		top:-900px;
		left:50px;
		 z-index: -1;

	}

	#selectionInterface{
		position: relative;
		left:500px;
	}


	.coolbutton {
	  display: inline-block;
	  margin: 1em 0 0 0;
	  padding: 0.4em 2em;
	  font-size: .9em;
	  background: rgba(255,255,255,0.07);
	  color: rgba(0,0,0,0.7);
	  text-shadow: 1px 1px 0 rgba(255,255,255,0.1);
	  text-decoration: none;
	  border: solid 1px rgba(20,20,20,1);
	  border-radius: 10px;
	  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.05), inset 0 0 35px rgba(0,0,0,0.6), 0 5px 5px -4px rgba(0,0,0,0.8);
	}

	.coolbutton:hover {
	  background: rgba(255,255,255,0.09);
	}

	.coolbutton:active {
	  position: relative;
	  top: 5px;
	  box-shadow: inset 0 1px 1px rgba(0,0,0,0.4), inset 0 0 35px rgba(0,0,0,0.6), 0 1px 1px rgba(255,255,255,0.1), inset 0 6px 4px rgba(0,0,0,0.4);
	}
	#jobInfo{
		height:100px;
		width:1100px;
	}
	#buildDropDown{
		position: relative;
		left:60px;
		top:-50px;
	}

	#buildDropDownTitle{
		position: relative;
		left:10px;
		
	}
	#testDurationTitle{
		position: relative;
		left:10px;
		top: -60px;
	}
	.infoMule{
		background-color: black;
		border-radius: 25px;
		border: 2px #FFF solid;
		box-shadow: 5px 5px 5px #5F5F5F;
		width:350px;
		height:300px;
		color:white;
	}
	#cpuBox{}
	#systemBox{
		position: relative;
		left:370px;
		top: -304px;
	}
	#jvmBox{
		position: relative;
		left:740px;
		top: -608px;

	}
	.keyTitle{
		position: relative;
		left:10px;
	}
	#cpuMetrics{
		font:14px;
		position: relative;
		left: 40px;
		width:300px;
	}
	
	#sysMetrics{
		font:14px;
		position: relative;
		left: 40px;
		width:300px;
	}
	.keyMetricResults{
		color:cyan;
	}

	#jvmMetrics{
		font:14px;
		position: relative;
		left: 40px;
		width:300px;
	}
	
	#compareMetrics{
		position: relative;
		top:-600px;
	}
	#compareBlock{
		max-height:500px;
		width: 1100px;
		
	}
	#slaResults{
		display: none;

	}
	#prevResults{
		display: none;

	}
	#baseResults{
		display: none;
	}
	.greenText{color:#00FF00;}
	.redText{color:#FF0000;}
	.grayText{color:#4F4F4F;}
	.whiteText{color:white;}
	.yellowText{color:yellow;}
	.dataResults{
		position: relative;
		left: 50px;
	}

	.homeMule{
		background-color: black;
		border-radius: 25px;
		border: 2px #FFF solid;
		box-shadow: 5px 5px 5px #5F5F5F;

		width:500px;
		height: 600px;

		position: relative;
		top:50px;
	}

	#recentRuns{
		position: relative;
		left:550px;
		top:-554px;
	}
	.homeBoxTitle{
		color: white;
		font-weight: bold;
		font-size: 30px;
		position: relative;
		left: 20px;
		top:40px;
	}

	.mainPreview{
		position: relative;
		top:50px;
		left: 40px;
	}

	.jobInfoPreview{
		color:white;
		font-size: 20px
	}
	.homeBoxTitle{

	}
	.detailsLink{
		font-size: 18px;
		position: relative;
		left:300px;
		top: -20px;
	}
	.jobNameHome{
		font-size: 25px;
	}

	#otherBuilds{
		width:1050px;
		height:100px;
		position: relative;
		top:-510px;
		color:white;
		font-size: 22px;
	}
	#dropDownHome{
		position: relative;
		top:30px;
		left:40px;
	}
	#searchForBuilds{
		position: relative;
		left:600px;
	}
	#graphArea{
		position: relative;
		top:-570px;
	}
	.graphs{
		position: relative;
		background-color: black;
		border-radius: 25px;
		border: 2px #FFF solid;
		box-shadow: 5px 5px 5px #5F5F5F;
		
		color: white;
		font-weight: bold;
		font-size: 30px;
		height:600px;
		width: 1100px;
	}
	.graphContent{
		position: relative;
		top: 20px;
		left:30px;
	}

	.reportGraph{
		width: 800px;
		height:500px;
	}












